.all-input-container {
    display: flex;
    flex-wrap: wrap;
}
.my-form-input {
    width: 100%;
    border: 0 !important;
    border-bottom: 1px solid #929fba !important;
    border-color: #DADADA !important;
    font-size: 13px;
}
.input-pref {
    width: 6.5em;
    margin: 6px;
    display: initial;
}
.padding-lr-config-input {
    padding-left: 4.5rem;
    padding-right: 6rem;
}
.mb-3 {
    margin-bottom: 1rem;
}

.ins-cpl {
    background-color: #f9f9f9;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ins-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    padding: 0;
    /* margin: 0 0.8rem; */
}

.ins-card > div:first-child {
    border-radius: 10px 10px 0 0;
}

.ins-card > div:last-child {
    border-radius: 0 0 10px 10px;
}

.ins-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.ins-card-body {
    padding: 1.25rem;
    background-color: #fff;
}

.ins-cpl-actions {
    display: flex;
    flex-direction: row;
    position: relative;
}

.ins-cpl-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ins-checkmark {
    display: block;
    height: 25px;
    width: 25px;
    background-color: #fff;
}

.ins-checkmark:after,
.ins-checkmark:before {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.ins-cpl-check:checked ~ .ins-checkmark:after {
    display: block;
}

.ins-cpl-check:indeterminate ~ .ins-checkmark:before {
    display: block;
}

/* Style the checkmark/indicator */
.ins-checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ins-checkmark:before {
    left: 50%;
    top: 50%;
    width: 15px;
    height: 1px;
    border: solid #fff;
    border-width: 0 0 3px 0;
    -webkit-transform: translateX(-50%) translateY(50%);
    -ms-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
}

.ins-cpl-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ins-cpl-check ~ .ins-checkmark {
    border: 3px solid #000;
}

.ins-cpl-check:checked ~ .ins-checkmark {
    background-color: #000;
}
.codate-panel .title {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.codate-panel .mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.codate-panel .ins-card-header {
    min-width: 150px;
}
.input-panel .ins-card-header {
    min-width: 150px;
}
.ins-event-border {
    border: black 3px solid !important;
}
.ins-event-none-border {
    border: transparent 1px solid !important;
}
.p0-mAuto {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.btn-create-event {
    margin-top: .8rem;
    cursor: pointer;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.d-flex {
    display: flex !important;
}
.text-default {
    color : #333333
}
.cod-inside {
    margin-top: 1rem;
}
.cod-inside .arrow_box {
    top: 38px !important;
    right: 0px !important;
}
.cod-inside .arrow_box::before {
    left: inherit !important;
    right: 5%;
}
.cod-inside .arrow_box::after {
    left: inherit !important;
    right: 5%;
}
.result-close-button {
    font-size: 20px !important;
    font-weight: 600;
}
.event-clicked {
    border: solid 3px #fdd076bf !important;
}
.color-gray {
    color: gray;
}

.checkboxContainer {
    display: flex;
    flex-wrap: wrap;

}
ul.ks-cboxtags {
    list-style: none;
    padding: 0px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 4px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}
ul.ks-cboxtags li label.w-100 {
    width: 100%;
}

/* ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 4 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
} */

/* ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
} */

ul.ks-cboxtags li input[type="checkbox"]:checked + label,ul.ks-cboxtags li input[type="radio"]:checked + label {
    border: 2px solid #9fbd38;
    background-color: #fff;
    color: #9fbd38;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"],ul.ks-cboxtags li input[type="radio"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"],ul.ks-cboxtags li input[type="radio"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label,ul.ks-cboxtags li input[type="radio"]:focus + label {
  border: 2px solid #9fbd38;
}