input:focus {
    outline: none;
}

button:focus {
    outline: none !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: white;
}

.co-input-multiple,
.co-select-multiple {
    margin-bottom: 15px;
}



.co-input-multiple-form {
    display: flex;
}

.co-input-multiple .form-group {
    margin-bottom: 0;    
    position: relative;
}

.co-input-multiple .form-group div label {
    font-size: 10px;
    text-transform: uppercase;
    color: #555555;    
    line-height: 12px;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 0;
}

.fullWidth .co-input-multiple-form {
    display: block;
    border: none;
}

.fullWidth .form-group {
    margin-bottom: 6px !important;
}

.fullWidth .co-input-multiple-form .form-group.input-group-sm {
    border: none !important;
}

.co-select-multiple-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    position: relative;
}

.co-input-multiple-form,
.co-select-multiple-form {
    border: 1px solid #ccc;
    border-radius: 2px;
}

.co-input-multiple-form.co-input-multiple-not-string {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.co-input-multiple-form.co-input-multiple-not-string .form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.co-input-multiple-form.co-input-multiple-not-string .form-group span {
    font-size: 15px;
}

.co-input-multiple-form.co-input-multiple-not-string .form-group input {
    border: none;
}

.co-input-multiple-form.co-input-multiple-not-string .form-group:not(:last-child) {
    border-right: 1px solid #ccc;
}

.co-input-multiple-form .form-group.input-group-sm,
.co-select-multiple-form .form-group.input-group-sm {
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}

.co-select-multiple-form .form-group.input-group-sm {
    width: 100%;
    align-items: center;
}
    
.co-input-multiple-form .form-group.input-group-sm.form-group:not(:last-child), 
.co-select-multiple-form div:not(:last-child) {
    border-right: 1px solid #ccc;
}

.co-select-multiple-form div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.co-select-multiple-form div>select {
    border: none;
    background: none;
    padding: 0 10px;
}

.co-select-multiple-form div>span {
    margin-top: 5px;
}

.co-select-multiple-form div>span i {
    font-size: 20px;
}

.co-input-multiple-form .form-group.input-group-sm input {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.co-input-multiple-title,
.co-input-number,
.co-input-number-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dark .co-input-number label {
    color: #ffffff !important;
}

.co-input-number-range-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.co-input-number-range-title label {
    margin: 0;
}

.co-input-multiple-form input[type='number'] {
    padding: 0 0 0 5px !important;
    text-align: center;
}

.all-views-mode {
    margin-left: 5px;
}

.all-views-mode button {
    display: none;
    border-radius: 0;
    background: transparent;
    border: none;
    box-shadow: none !important;
    padding: 0 10px;
    font-size: 15px;
}

.all-views-mode button:hover {
    color: #2C3E50;;
}

.all-views-mode button.btn-select-view-active{
    display: initial;
}

.co-input-number-range-body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.co-input-number-range-body input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
    flex: 0.8;
}

.co-input-number-range-body input[type="range"]:focus {
    outline: none;
}

.co-input-number-range-body input[type="range"]::-webkit-slider-runnable-track {
    background: #d5d8dd;
    border-radius: 0.5rem;  
    height: 0.5rem;
}

.co-input-number-range-body input[type="range"]::-moz-range-track {
    background: #d5d8dd;
    border-radius: 0.5rem;
    height: 0.5rem;
}

.co-input-number-range-body input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;   
    appearance: none;
    margin-top: -8px;
    background-color: white;
    border: 1px solid #d5d8dd;
    height: 20px;
    width: 20px;   
    border-radius: 50%; 
}

.co-input-number-range-body input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: white;
    border: 1px solid #d5d8dd;
    height: 20px;
    width: 20px;   
    border-radius: 50%; 
}

.co-input-number-range-body input:last-child {
    margin-left: 10px;
    flex: 0.2;
}

.co-input-switcher-tab input[type='radio'] {
    display: none;
}

.co-input-switcher-tab-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.co-input-switcher-tab-nav .label-tab {
    font-weight: lighter;
    font-size: 12px;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s;
    color: #2C3E50;
}
.co-input-switcher-tab-content .tab-content .form-group select, .co-input-switcher-tab-content .tab-content .form-group input {
    background: transparent;
    color: white;
}

.co-input-switcher-tab-content label {
    font-size: 10px;
    font-weight: lighter;
    text-transform: uppercase;
}

.co-input-switcher-tab-content {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.co-input-switcher-tab-nav > .label-tab:hover, .co-input-switcher-tab-nav > input[type='radio']:checked + .label-tab {
    border-bottom: 3px solid #08d;
    color: #08d;
}

.co-input-switcher {
    margin-bottom: 20px;
}

.units-form select {
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    margin-bottom: 5px;
    border-radius: 0;
    padding: 0;
}

.co-input-multiple-form .btn-links {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border: rgba(0, 0, 0, 0.4);
}

.co-input-multiple-form .btn-links.linked {    
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.co-input-multiple-form .btn-links i {
    font-size: 14px !important;
}

.sp-original-input-container {
    display: block !important;
}

#ajaxFormModal .sp-original-input-container {
    display: inline-flex!important;
}

.co-input-shadow {
    margin-bottom: 15px;
}

.co-input-shadow input.form-control{
    background-color: white;
}

.co-input-shadow .form-group {
    margin-bottom: 0;
}

.co-input-shadow-customize {
    background-color: #f2f2f2;
    padding-bottom: 15px !important;
}

.co-input-shadow-customize label {
    font-size: 10px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 0;
}

.wrapper-shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sliders-boxshadow .slider-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliders-boxshadow .slider-form input[type="range"] {
    flex: 0.85;
}

.sliders-boxshadow .slider-form input[type="number"] {
    margin-left: 10px;
    flex: 0.15;
}

.co-input-colors-shadow {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.co-input-inset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0 !important; 
    margin-bottom: 10px;
}

.cnb-input-border label button {
    border: none;
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
    color: #707070;
}

.cnb-input-border label button:hover {
    color: #222;
}

.cnb-input-border-list-item {
    display: flex;
}

.cnb-input-border-form select,
.cnb-input-border-form input {
    padding: 0px;
}

.cnb-input-border-form {
    display: flex;
    padding: 2px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    border-radius: 2px;
    margin-bottom: 5px;
}

.cnb-input-border-form-inputs {
    display: flex;
}

.cnb-input-border-form select {
    width: 70px;
}

.cnb-input-border-form input {
    width: 40px;
}

.cnb-input-border-form button {
    border: none;
    background-color: transparent;
    padding-left: 3px;
    padding-right: 3px;
    color: red;
    cursor: pointer;
}

.cnb-input-border-form div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cnb-input-border-form div input,
.cnb-input-border-form div select {
    border: none;
    outline: none;
    background-color: white;
}

.cnb-input-border-form .sp-dd {
    display: none !important;
}

.inputs-container .form-group {
    margin-bottom: 5px;
}

.input-dynamic-container .default-input .form-group {
    margin-bottom: 4px;
}

.input-dynamic-container .form-check label {
    font-weight: normal;
    font-size: 13px;
}

.collapse .caret {
    transform: rotate(0deg)
}

.collapsed .caret {
    transform: rotate(-90deg)
}

.input-section .panel {
    margin-bottom: 5px;
}

.input-section .panel {
    border: none;
}

.input-section .panel-heading {
    padding: 0;
}

.input-section .panel-title a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    padding: 5px;
}

.input-section .panel-collapse {
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-section .panel {
    background: transparent;
}

.cnb-input-border-simple {
    display: flex;
}

.widthBorderSingle div {
    width: calc(100% / 3);
}

.widthBorderSingleColor .borderSingleColor{
    width: 100% ;
}

.widthBorderSingleOthers div{
    width: calc(100% / 2) ;
}

.cnb-input-border-simple div input,
.cnb-input-border-simple div select {
    width: 100%;
    height: 26px;
    border: none;
    outline: none;
    background-color: white;
    padding: 0px 5px;
}

.cnb-input-border-simple {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.cnb-input-border-simple div [name="size"],
.cnb-input-border-simple div [name="style"] {
    border-right: 1px solid #ccc;
}

.input-group-sm .select2-container {
    height: auto;
}


/* togle switch */
.switch input[type=checkbox] {
    display: none;
}

.switch label:not(.switch input[type=checkbox] + label) {
    min-width: 70%;
}

.switch label {
    cursor: pointer;
}

.switch input[type=checkbox]+label {
    position: relative;
    border-radius: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}

.switch input[type=checkbox]+label::before,
.switch input[type=checkbox]+label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}

.switch input[type=checkbox]+label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: .2s all;
    width: calc(calc(1.9375rem * .8) * 2);
}

.switch input[type=checkbox]+label::after {
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease-in 0s;
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}

.switch input[type=checkbox]:checked+label::before {
    background-color: #08d;
}

.switch input[type=checkbox]:checked+label::after {
    margin-left: calc(2.375rem * .8);
}

.switch input[type=checkbox]:focus+label::before {
    outline: none;
    box-shadow: 0 0 0 .2rem rgba(0, 136, 221, .25);
}

.switch input[type=checkbox]:disabled+label {
    color: #868e96;
    cursor: not-allowed;
}

.switch input[type=checkbox]:disabled+label::before {
    background-color: #e9ecef;
}

.switch input[type=checkbox]:checked+label::after {
    margin-left: calc(1.9375rem * .8);
}

.switch {
  /*  margin-left: 1rem;*/
}

.sp-display-icon {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sp-display-icon p {
    font-size: 13px;
    font-weight: 600;
}

.sp-display-icon .icon-content.have-icon {
    padding: 10px 20px;
    box-shadow: 0 0 0 1px #ddd;
    border-radius: 5px;
    position: relative;
    margin-top: 10px;
}

.sp-display-icon .icon-content .icon-selected {
    font-size: 50px;
}

.sp-display-icon .erase-icon-selected {
    width: 25px;
    height: 25px;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* grid view images */

.co-input-file-image-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.co-input-file-image .allMultipleImageView {
    width: 100%;
    max-height: 130px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    grid-auto-rows: auto;
    gap: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    background-color: rgb(204, 204, 204, 0.1);
    padding: 5px;
    border-radius: 5px;
}

.co-input-file-image .allMultipleImageView .multiple-image-content {
    width: 50px;
    height: 50px;
    position: relative;
}

.co-input-file-image .allMultipleImageView img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-on-bibliotheque {
    cursor: pointer;
}

.co-input-file-image .btn-choose-file {
    background-color: #0091c6;
    padding: 2px 12px 2px 2px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.co-input-file-image .btn-choose-file i {
    color: #7bc3d1;
    padding: 4px;
    background: #ffffff;
    margin-right: 4px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.co-input-file-image .expand-properties {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.co-input-file-image .separator {
    width: 50%;
    background-color: #2C3E50;
    border: 2px solid #2C3E50;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 5px;
}

.co-input-file-image .btn-expand-properties {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -4px;
}

.co-input-file-image .input-background-properties {
    border: 1px dashed black;
    padding: 0 10px;
    border-radius: 5px;
}

.co-input-file-image-content .btn-delete-img {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: -10px;
    right:  -5px;
}

.co-input-file-image-content img {
    width: 230px;
    height: auto;
    margin-bottom: 10px;
}

.tab-co-input-view-image {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tab-co-input-view-image .tabs {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.tab-co-input-view-image .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
}

.tab-co-input-view-image .tab i {
    font-size: 1.3em;
}

.tab-co-input-view-image .tabs {
    display: flex;
    align-items: center;
    width: 100%;
}

.tab-co-input-view-image .tabs .tab:first-child {
    flex: 0.5;
}

.tab-co-input-view-image .tabs .tab:last-child {
    flex: 0.5;
}

.tab-co-input-view-image .panel-content {
    display:none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.tab-co-input-view-image .radio {
    display:none;
}

#one:checked ~ .panels .one-panel,
#two:checked ~ .panels .two-panel   {
    display:block
}

#one:checked ~ .tabs .one-tab,
#two:checked ~ .tabs .two-tab {
    background: transparent;
    color: #2C3E50;
    border-bottom: 2px solid #2C3E50;;
}

#one:checked ~ .tabs .one-tab i,
#two:checked ~ .tabs .two-tab i {
    font-weight: bold;
}

.biblio-image {
	--gap: 15px;
	--num-cols: 4;
	--row-height: 200px;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.co-input-panel-image .modal-dialog {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.biblio-image .img-content {
	width: 100%;
	height: 100%;
    position: relative;
}

.biblio-image .img-content.img-checked {
    background-color: #086784;
}

.biblio-image .img-content .disable-click {
    pointer-events: none;
    cursor: default;
}

.biblio-image .img-content.img-checked>img {
    opacity: 0.5;
}

.biblio-image .img-content i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	position: absolute;
    background: #086784;
    padding: 20px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.biblio-image .img-content i.canHover:hover {
    background-color: #d9534f;    
    padding: 20px 22px;
    transition: all .4s ease;
}

.biblio-image .img-content>img {
    width: inherit;
    height: inherit;
    object-fit: cover;    
    border: 1px solid #ccc;
}

.multiple-input-dark > div > div {
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 4px;
}

@media screen and (max-width: 1024px) {
	.biblio-image {
		--num-cols: 2;
		--row-height: 200px;
	}
}

.tab-co-input-view-image #btn-submit-form,
.tab-co-input-view-image .mainDynFormCloseBtn,
.tab-co-input-view-image .form-actions hr {
    display: none;
}

.tab-co-input-view-image .qq-uploader-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tab-co-input-view-image .qq-upload-button-selector {
    top: -30px;
    overflow: unset !important;
}

.tab-co-input-view-image .view-image-body .empty-image-text {
    font-size: 16px;
    text-transform: uppercase;
    padding: 35px 0;
    font-weight: lighter;
    color: #555555;
}

.btn-group-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.btn-group-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3a3a3a00;
    padding: 2px 5px;    
    border: 1px solid #ccc;
    border-radius: 0;
}

.dark .btn-group-content button {
    border: 1px solid white;
}

.btn-group-content .transform-rotate-90 {
    transform: rotate(90deg);
} 

.btn-group-content button.btn-active {
    background-color: #2C3E50;
    color: white;
}

/* end grid view images */

/* input matomo */
.co-input-activate-matomo .activeMatomoInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.activeMatomoInput .activeMatomo {
    width: 20px;
    margin: 0 10px 5px 0;
}

.cmsbuilder-tabs-body .form-control[disabled],
.cmsbuilder-tabs-body .form-control[readonly],
.cmsbuilder-tabs-body fieldset[disabled] .form-control {
    background-color: #7b7a7a;
}

/* translate form */
.co-input-with-label-translate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.co-input-with-label-translate.input-file-image-form {
    margin-bottom: 15px;
}

.co-input-language-props {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.co-input-language-props label {
    color: #121212;
    font-weight: 400;
    font-size: 13px;
}

.co-input-translate-form .btn-flag-translate-active,
.co-input-select-view-mode-form .btn-view-mode-active {
    background: transparent;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px;
    font-weight: initial;
    margin-bottom: 2px;
    text-transform: uppercase;
    color: #121212;
}

.co-input-translate-form .btn-flag-translate-active {
    color: white;
}

.dark .co-input-translate-form .btn-flag-translate-active,
.dark .co-input-select-view-mode-form .btn-view-mode-active {
    color: white !important;
}

.co-input-select-view-mode-form .btn-view-mode-active {
    margin-left: 10px;
    padding: 0 0 4px 0;
}

.co-input-select-view-mode-form .btn-view-mode-active:focus,
.co-input-select-view-mode-form .btn-view-mode-active:active,
.co-input-select-view-mode-form .btn-view-mode-active.dropdown-toggle.btn-primary,
.co-input-select-view-mode-form .btn-view-mode-active:hover {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #121212;
}

.dark .co-input-select-view-mode-form .btn-view-mode-active:focus,
.dark .co-input-select-view-mode-form .btn-view-mode-active:active,
.dark .co-input-select-view-mode-form .btn-view-mode-active.dropdown-toggle.btn-primary,
.dark .co-input-select-view-mode-form .btn-view-mode-active:hover {
    color: white !important;
}

.co-input-select-view-mode-form .btn-view-mode-active .icon-select-down {
    font-size: 8px;
    margin-left: 8px;
}

.co-input-translate-form .btn-flag-translate-active img {
    margin-right: 5px;
}

.co-input-translate-form .dropdown-menu {
    min-width: auto;
    padding: 0 !important;
    left: -80px;
}

.co-input-translate-form .dropdown-lang-without-tradAuto {
    left: -55px !important;   
}

.co-input-select-view-mode-form .dropdown-menu {
    min-width: auto;
    padding: 5px 0 !important;
}

.co-input-translate-form .dropdown-item,
.co-input-select-view-mode-form .dropdown-item {
    color: #121212;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: lighter;
    opacity: 1 !important;
}

.co-input-translate-form .dropdown-item img {
    margin-right: 12px;
}


.co-input-select-view-mode-form .dropdown-item i {
    margin-right: 10px;
}

.co-input-translate-form .dropdown-item.active,
.co-input-select-view-mode-form .dropdown-item.active {
    background-color: #337ab7;
    border: none;
    color: white;
    border-radius: 0px;
}

.co-input-translate-form .translate-form-select,
.co-input-select-view-mode-form .view-mode-form-select {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-width: auto;
}

.co-input-select-view-mode-form .view-mode-form-select button {
    border-radius: 0px;
}

.loader-input {
    /*position: relative;*/
    height: 20px;
    width: 20px;
    display: inline-block;
    animation: around 5.4s infinite;
    position: absolute;
    right: 10px;
    top: calc(45px);
    /*top: calc(50% - 10px);*/
}

@keyframes around {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader-input::after, .loader-input::before {
    content: "";
    background: #3A3A3A;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: #fff #fff transparent transparent;
    border-style: solid;
    border-radius: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    animation: around 0.7s ease-in-out infinite;
}

.loader-input::after {
    animation: around 0.7s ease-in-out 0.1s infinite;
    background: transparent;
}
.contain-input-translate {
    position: relative;
}

.textarea-with-mode{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.previewMode-view {
    background: transparent;
    border: none !important;
    border: 1px solid #ccc !important;
    border-radius: 0px;
    font-weight: initial;
    margin-bottom: 2px;
    text-transform: uppercase;
    margin-left: 10px;
    padding: 5px 7px 7px 7px;
    color : white !important;
    text-decoration: none !important;
}


.co-input-preview {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.select-font-with-btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.select-font-with-btn-add .select-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select-font-with-btn-add .btn-font-manager {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.xdsoft_datetimepicker {
    z-index: 999999991 !important;
}


.element-adress{
    border: 1px white solid;
    border-radius: 4px;
    margin-bottom: 2px;
}