.accordion-button{
    border: none;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

.accordion-content{
    overflow: hidden;
}

.accordion{
    border-bottom: 1px solid rgb(227, 231, 233);
}