.cnb-input{
    margin-bottom: 10px;
}

.cnb-input .label-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cnb-cb-dynamic-content{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.cnb-cb-dynamic-content input[type="checkbox"]{
    width: 20px;
}
.cnb-cb-dynamic-content label{
    margin-left: 5px;
    font-weight: normal;
    font-size: 11px;
}

.cnb-input input, .cnb-input select{
    border:none;
    padding: 4px;
    border: 1px solid #222;
    border-radius: 2px;
    width: 100%;
}
.cnb-input input:focus, .cnb-input select:focus{
    outline: none;
}

.cnb-input select{
    border: 1px solid #222;
    background-color: white;
    height: 30px;
    padding-right: 20px;
    border-radius: 2px;
}

.cnb-input-border label button{
    border: none;
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
    color: #707070;
}
.cnb-input-border label button:hover{
    color: #222;
}

.cnb-input-border-list-item{
    display: flex;
}

.cnb-input-border-form select, .cnb-input-border-form input{
    padding: 0px;
}

.cnb-input label{
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
}

.cnb-input-border-form{
    display: flex;
}

.cnb-input-border-form-inputs{
    display: flex;
}

.cnb-input-border-form{
    padding: 2px;
    border: 1px solid #222;
    border-radius: 2px;
    margin-bottom: 5px;
}

.cnb-input-border-form select{
    width: 70px;
}

.cnb-input-border-form input{
    width: 40px;
}

.cnb-input-border-form button{
    border: none;
    background-color: transparent;
    padding-left: 3px;
    padding-right: 3px;
    color: red;
    cursor: pointer;
}

.cnb-input-border-form div {
    display: flex;
    align-items: center;
}

.cnb-input-border-form div input, .cnb-input-border-form div select{
    border:none;
    outline: none;
    background-color: white;
}

.cnb-input-border-form .sp-dd{
    display: none !important;
}

.cnb-input-direction-btn{
    width: fit-content;
    display: flex;
    border: 1px solid #222;
    border-radius: 2px;
}

.cnb-input-direction-btn li{
    padding: 1px 6px;
    cursor: pointer;
    list-style: none;
    margin: 0;
}

.cnb-input-direction-btn li.active, .cnb-input-direction-btn li:hover{
    background-color: #222;
    color: white;
}

.cnb-input-direction-btn li:first-child{
    border-right: 1px solid #222;
}

.cnb-input-align-btn{
    width: fit-content;
    display: flex;
    border: 1px solid #222;
    border-radius: 2px;
}
.cnb-input-align-btn li{
    padding: 1px 6px;
    cursor: pointer;
    list-style: none;
    margin: 0;
}
.cnb-input-align-btn li:not(:last-child){
    border-right: 1px solid #222;
}
.cnb-input-align-btn li.active, .cnb-input-align-btn li:hover{
    background-color: #222;
    color: white;
}

.cnb-input-padding-form{
    display: flex;
}

.cnb-input-padding-form{
    border: 1px solid #222;
    padding: 4px;
    border-radius: 2px;
}

.cnb-input-padding-form div{
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}

.cnb-input-padding-form div:not(:last-child){
    border-right: 1px solid rgb(107, 107, 107);
}

.cnb-input-padding-form div input{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.cnb-input-padding-form div span{
    font-size: 11px;
}

.cnb-input-content-form{
    width: 100%;
    border: 1px solid #222;
    border-radius: 2px;
    position: relative;
}

.cnb-input-content-form div{
    padding: 10px;
}

.cnb-input-content-form textarea{
    width: 100%;
    border: none;
    resize: none;
}
.cnb-input-content-form textarea:focus{
    outline: none;
}

.cnb-input-content-form button{
    position: absolute;
    border: none;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 11px;
}
.cnb-input-content-form button:hover{
    background-color: #222;
    color: white;
}

.cnb-input-socialselect-dropdrown{
    position: relative;
    width: fit-content;
}

.cnb-input-socialselect-dropdrown button{
    cursor:pointer;
    border: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #707070;
    background-color: white;
    border-radius: 2px;
    min-width: 120px;
}
.cnb-input-socialselect-dropdrown button .social-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blue;
    line-height: 20px;
    border-radius: 2px;
    color: white;
}

.cnb-input-socialselect-dropdrown button .social-label{
    font-size: 12px;
    margin: 0px 5px;
}

.cnb-input-socialselect-dropdrown button .dropdown-arrow{
    font-size: 10px;
}

.cnb-input-socialselect-dropdrown ul{
    position: absolute;
    top: 32px;
    border: 1px solid #707070;
    width: 100%;
    padding: 5px;
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    background-color: white;
    z-index: 99999;
}

.cnb-input-socialselect-dropdrown.active ul{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.cnb-input-socialselect-dropdrown ul li{
    list-style: none;
}

.cnb-input-socialselect-dropdrown .dropdown-item{
    padding: 5px;
    cursor: pointer;
}

.cnb-input-socialselect-dropdrown .dropdown-item:hover{
    background-color: #e2e2e2;
}

.cnb-input-socialselect-dropdrown .dropdown-item span{
    display: inline-block;
}

.cnb-input-socialselect-dropdrown .dropdown-item span:first-child{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    background-color: #222;
    border-radius: 2px;
}

.cnb-input-socialselect-dropdrown .dropdown-item span:last-child{
    font-size: 12px;
    margin-left: 5px;
}

.cnb-input-image input{
    cursor: pointer;
    width: -webkit-fill-available;
}

.cnb-assets-manage-modal{
    position: absolute;
    width: 600px;
    height: 250px;
    background-color: white;
    z-index: 99999;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 80px;
    border-radius: 5px;
}