* {
    margin: 0;
    padding: 0;
}

.d-flex{
    display: flex !important;
}
.justify-content-between{
    justify-content: space-between !important;
}
.align-items-center{
    align-items: center !important;
}

.text-transform-none{
    text-transform: none !important;
}

#menuLeft {
    display: none;
}

footer {
    display: none;
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden !important;
}

body.modal-open {
    overflow: hidden !important;
}

.label {
    all: unset;
}

header nav {
    width: 100%;
    height: 48px;
    background-color: #2c2c2c;
}

.news-builder-container {
    width: 100%;
    height: calc(100vh - 107px);
    display: flex;
    background-color: #f5f5f5;
    position: relative;
}

.side-navigation {
    width: 260px;
    height: 100%;
    background-color: white;
}

.side-navigation-body {
    position: relative;
}

.cnb-sidenav-tab {
    display: none;
    height: calc(100vh - 163px);
    overflow-y: auto;
}

.cnb-sidenav-tab.active {
    display: block;
}

.side-navigation-header {
    padding: 10px;
    border-bottom: 1px solid rgb(227, 231, 233);
}

.side-navigation-header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.side-navigation-header ul li {
    list-style: none;
}

.side-navigation-header ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #7f7f7f;
    font-weight: 500;
}

.side-navigation-header ul li.active a,
.side-navigation-header ul li a:hover {
    color: #111;
}

.contents-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 15px;
}

.contents-list .item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgb(227, 231, 233);
    background-color: white;
}

.contents-list .item p {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.contents-list .item img {
    width: 70px;
    height: 70px;
}

.containers-list {
    padding: 10px 15px;
}

.containers-list .item {
    padding-bottom: 15px;
    cursor: pointer;
}

.containers-list .item p {
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 400;
}

.containers-list .item img {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 2px;
    height: 30px;
    width: 100%;
}

.page-container {
    width: calc(100% - 510px);
    min-height: calc(100% - 40px);
    overflow: auto;
    padding: 25px 0px;
}

#cnb-page.draggover .cnb-block-tagName-mj-body {
    padding-bottom: 100px;
}

.page-container iframe {
    width: 100%;
    height: 100%;
}

/* component outline */
.cnb-block {
    position: relative
}

.cnb-block-outline {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    left: 0px;
    top: 0px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.cnb-block-outline.active,
.cnb-block.selected > .cnb-block-outline {
    visibility: visible;
    opacity: 1;
}

.cnb-block-outline .outline {
    position: absolute;
    font-size: 14px;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    outline-offset: -2px;
    outline: 2px solid #1890ff;
    background: rgb(24, 144, 255, .2)
}

.cnb-block-outline .header {
    position: absolute;
    font-size: 14px;
    z-index: 3;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 100%;
}

.cnb-block-outline .header-container {
    font-size: 14px;
    line-height: 22px;
    pointer-events: auto;
    color: rgb(255, 255, 255);
    transform: translateY(-100%);
    display: inline-flex;
}

.cnb-block-outline .label {
    color: rgb(255, 255, 255);
    background-color: #1890ff;
    height: 22px;
    display: inline-flex;
    padding: 1px 5px;
    box-sizing: border-box;
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
}

.cnb-block-outline-actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    background-color: #036dd0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.cnb-block.selected > .cnb-block-outline .cnb-block-outline-actions-container{
    visibility: visible;
    opacity: 1;
}

.cnb-block-outline-action {
    color: rgb(255, 255, 255);
    background-color: #035caf;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    width: 26px;
    pointer-events: auto;
    cursor: pointer;
    text-align: center;
}

.cnb-block-outline-action.color-danger {
    background-color: red;
}

.cnb-block-outline-action.color-info{
    background-color: #1890ff;
}

/* #cnb-page.draggover .cnb-block-tagName-mj-body .cnb-block{
    padding: 30px 0px !important;
    border: 1px solid #dadada;
} */

.cnb-block-tagName-mj-body {
    min-height: 100%;
    height: max-content;
    width: 100%;
}

.cnb-block-tagName-mj-section,
.cnb-block-tagName-mj-column,
.cnb-block-tagName-mj-wrapper {
    outline: 1px dotted rgb(156, 156, 156);
}

.cnb-modal-fullwidth .cnb-block-tagName-mj-section,
.cnb-modal-fullwidth .cnb-block-tagName-mj-column,
.cnb-modal-fullwidth .cnb-block-tagName-mj-wrapper {
    outline: none !important;
}

#cnb-page.draggover .cnb-block-tagName-mj-wrapper,
#cnb-page.draggover .cnb-block-tagName-mj-section,
#cnb-page.draggover .cnb-block-tagName-mj-column {
    padding: 20px 0px;
}

.right-navigation {
    height: 100%;
    width: 250px;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

.cnb-images-mangager-list,
.cnb-articles-manager-list {
    height: calc((100vh - 300px) / 2);
    overflow: auto;
}

.cnb-images-mangager-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.cnb-images-mangager-item {
    width: 100%;
    height: 70px;
    border: 1px solid #7777;
    border-radius: 4px;
    position: relative;
}

.cnb-images-mangager-item button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
    visibility: hidden;
}

.cnb-images-mangager-item:hover button {
    visibility: visible;
}

.cnb-images-mangager-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cnb-dialog {
    background-color: white;
}

.cnb-dialog-images-list {
    width: 100%;
    height: 300px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.cnb-dialog-images-list-item {
    width: 100%;
    height: 100px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: .2s;
    border-radius: 4px;
}

.cnb-dialog-images-list-item:hover {
    border-color: #93c020;
}

.cnb-dialog-images-list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#cnb-layers-tab {
    padding: 20px;
}

#cnb-layers-tab li {
    list-style: none;
    font-size: 13px;
}

#cnb-layers-tab>ul li>ul li {
    margin-left: 15px;
}

#cnb-layers-tab li>span {
    cursor: pointer;
    display: block;
    padding: 5px 0px;
    border-bottom: 1px solid #707070;
}

#cnb-layers-tab li>ul {
    display: none;
    background-color: rgba(108, 122, 137, .1);
}

#cnb-layers-tab li.expand>ul {
    display: block;
}

#cnb-layers-tab li>span .fa-caret-down {
    display: none;
}

#cnb-layers-tab li>span .fa-caret-right {
    display: inline-block;
}

#cnb-layers-tab li.expand>span .fa-caret-down {
    display: inline-block;
}

#cnb-layers-tab li.expand>span .fa-caret-right {
    display: none;
}

.cnb-images-mangager-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ddd;
}

.cnb-images-mangager-header p {
    margin: 0;
    font-size: 14px;
}

.cnb-images-mangager-header button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
}

.news-builder header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #2c3e50;
}

.news-builder header button {
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 5px;
}

.news-builder header button[data-action="send-news"] {
    background-color: #93c020;
    color: white;
}

.header-left-news-builder a {
    color: white;
    font-size: 22px;
}

.header-left-news-builder a span:nth-child(2) {
    font-weight: bold;
    margin-left: 2px;
    color: #93c020;
}

.header-left-news-builder a:hover {
    text-decoration: none;
}

.header-right-news-builder button[data-action="preview"] span.show-label{
    display: block;
}
.header-right-news-builder button[data-action="preview"] span.hide-label{
    display: none;
}
.header-right-news-builder button[data-action="preview"].active span.show-label{
    display: none;
}
.header-right-news-builder button[data-action="preview"].active span.hide-label{
    display: block;
}

.cnb-modal-fullwidth {
    position: absolute;
    top: 100%;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    visibility: hidden;
    transition: .3s;
    overflow: auto;
    padding: 50px 0px;
}

.cnb-modal-fullwidth.active {
    visibility: visible;
    top: 0;
}

#cnb-modal {
    z-index: 999999;
}

#cnb-modal::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.cnb-article-list-container {
    display: flex;
    flex-direction: column;
}

.cnb-article-list-container button {
    margin-top: 10px;
}

.cnb-article-list {
    height: 400px;
    overflow: auto;
    padding: 10px;
}

.cnb-articles-manager-list {
    padding: 10px;
}

.cnb-articles-manager-list .cnb-article-item p {
    font-size: 14px;
}

.cnb-articles-manager-list .cnb-article-item-header>div:first-child p:last-child {
    font-size: 10px;
}

.cnb-article-item {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(211, 211, 211);
    cursor: pointer;
}

.cnb-article-item {
    width: 100%;
}

.cnb-article-item p {
    margin: 0;
}

.cnb-article-author {
    display: flex;
    align-items: center;
}

.cnb-article-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cnb-article-item-header img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 5px;
}

.cnb-article-item-header>div:first-child {
    display: flex;
    align-items: center;
}

.cnb-article-item-header>div:first-child p:last-child {
    font-size: 14px;
    color: #555;
}

.cnb-article-item-body {
    padding-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #222;
}

.cnb-community {
    width: 100%;
    background-color: white;
    padding: 10px;
}

.cnb-community-body {
    width: 100%;
    height: 40vh;
    overflow: auto;
    padding: 20px 10px;
}

.cnb-community-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cnb-community-header div {
    display: flex;
}

.cnb-community-header label {
    white-space: nowrap;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    font-weight: normal;
}

.cnb-community-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 4px;
}

.cnb-community-search input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 25px;
    font-size: 14px;
}

.cnb-community-search input:focus {
    outline: none;
}

.cnb-community-search span {
    font-size: 18px;
}

.cnb-community-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px;
}

.cnb-community-list-item p {
    margin: 0;
}

.cnb-community-list-item-info {
    display: flex;
}

.cnb-community-list-item-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.cnb-community-list-item-info a {
    text-decoration: none;
    font-weight: bold;
    color: #222;
}

.cnb-community-list-item-info p:last-child {
    font-size: 13px;
    color: #555;
}

.cnb-community-footer {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.cnb-form-save-template {
    width: 100%;
    padding: 15px;
}

.cnb-form-save-template .input-image {
    width: 120px;
    height: 120px;
    background-color: #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #707070;
    cursor: pointer;
}

.cnb-form-save-template .input-image.loaded i {
    display: none;
}

.cnb-form-save-template .input-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 5px;
}

.cnb-form-save-template .input-image.loaded img {
    display: block;
}

.cnb-template-list {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 400px;
    overflow: auto;
}

.cnb-template-list-empty{
    text-align: center;
    font-size: 16px;
    color: #707070;
    line-height: 400px;
    margin: 0;
    padding: 0;
}

.cnb-template-list-item {
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    transition: .5s;
    cursor: pointer;
}

.cnb-template-list-item:hover {
    background-color: #efefef;
}

.cnb-template-list-item img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.cnb-template-list-item .cnb-template-info {
    padding-left: 20px;
}

.cnb-template-list-item .cnb-template-info p {
    margin: 0;
    padding: 0;
}

.cnb-template-list-item .cnb-template-info p:first-child {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.cnb-template-list-item .cnb-template-info p:nth-child(2) {
    font-size: 14px;
    color: #555;
}

.cnb-template-list-item .cnb-template-info p:nth-child(2) a {
    text-decoration: none;
    color: #555;
    font-style: italic;
}

.cnb-template-info button{
    padding: 0px 5px;
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.cnb-template-list-item:hover > .cnb-template-info button{
    visibility: visible;
    opacity: 1;
}

.mj-wrapper-info-container{
    position: absolute;
    top: 0;
    left: 0px;
    transform: translateX(-100%);
    width: 20px;
    height:100%;
    background-color: #1890ff;
    color: white;
    padding-left: 15px;
}

.mj-wrapper-info-content{
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
}

.cnb-block.selected > .mj-wrapper-info-container{
    height: max-content;
    width: 300px;
}

.cnb-block.selected > .mj-wrapper-info-container .mj-wrapper-info-content{
    visibility: visible;
}

.mj-wrapper-info-container p{
    font-size: 12px;
}

.btn-toggle-info-mj-wrapper{
    position: absolute;
    width: 30px;
    height: 30px;
    left: -15px;
    border: none;
    background-color: #306cba;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    font-size: 11px;
}

.mj-wrapper-info-container .btn-toggle-info-mj-wrapper .fa-chevron-right{
    display: none;
}
.mj-wrapper-info-container .btn-toggle-info-mj-wrapper .fa-chevron-left{
    display: inline-block;
}
.cnb-block.selected > .mj-wrapper-info-container .btn-toggle-info-mj-wrapper .fa-chevron-right{
    display: inline-block;
}
.cnb-block.selected > .mj-wrapper-info-container .btn-toggle-info-mj-wrapper .fa-chevron-left{
    display: none;
}

.btn-path-node.active{
    font-weight: bold;
    color: #035caf;
}

#news-builder-loader{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

#news-builder-loader.active{
    visibility: visible;
    opacity: 1;
}

#news-builder-loader img{
    width: 80px;
}

.cnb-tab{
    display: none;
}

.cnb-tab.active{
    display: block;
}

.cnb-other-receiver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0px;
    max-height: 300px;
    overflow: auto;
}

.cnb-other-receiver li{
    list-style: none;
    padding: 15px 0px;
    border-bottom: 1px solid #d3d3d3;
    font-size: 14px;
}

.cnb-other-receiver button{
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #ea4335;
    color: #ea4335;
    font-size: 12px;
}
.cnb-other-receiver button:hover{
    background-color: #ea4335;
    color: white;
}