
.co-popup-activitypub-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    z-index: 9999999;
}

.co-popup-activitypub {
    width: 700px;
    min-height: 400px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    animation: myAnim 1s ease 1s 1 normal forwards;
}

.fediverse-logo {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -75px;
    right: 40px;
    text-align: center;
    line-height: 150px;
}

.fediverse-logo img {
    width: 90%;
}

.co-popup-activitypub-header {
    padding-top: 80px;
    text-align: center;
}

.co-popup-activitypub-header h1 {
    font-weight: bold;
}

.co-popup-activitypub-header p {
    font-size: 18px;
    line-height: 1.8;
}

.co-popup-activitypub-header p a {
    text-decoration: none;
    font-weight: bold;
    color: #9fbd38;
    text-decoration: underline;
}

.co-popup-activitypub-actions {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.co-popup-activitypub-actions ul li {
    display: inline-block;
}

.co-popup-activitypub-actions ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #2c3e50;
    font-size: 18px;
}

.co-popup-activitypub-actions ul li a span {
    padding-right: 10px;
}

.co-popup-activitypub-actions ul li:first-child a {
    background-color: #9fbd38;
    color: white;
    font-weight: bold;
}

.co-popup-activitypub-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.co-popup-activitypub-content {
    position: relative;
    padding: 20px;
}

.co-popup-activitypub-particle {
    width: 100%;
    height: 100%;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}