.call_loader {
    min-height: 12vh;
    position: relative;
    align-self: center;
}
.call_loader.set-max-height {
    height: 35vh;
}
.call_loader.set-width-max {
    width: 100%;
}
.call_loader.set-medium-height {
    height: 20vh;
}
.call_loader.change-display {
    display: flex;
    justify-content: center;
    align-items: center;
}
.call_loader .processingLoader .lds-doubl-ring img {
    width: 80px;
}
.call_loader .processingLoader .lds-doubl-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px !important;
    height: 100px !important;
}
.call_loader .processingLoader .lds-doubl-ring div {
    width: 100px !important;
    height: 100px !important;
}
.call_loader .processingLoader .lds-doubl-ring div:nth-child(2) {
    width: 90px !important;
    height: 90px !important;
}

/* loader_1 */
.call_loader .loader_1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%) rotate(0deg) translate3d(0, 0, 0);
    animation: this_call_loader_1 1.4s infinite ease-in-out;
}
.call_loader .loader_1 span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    animation: this_call_loaderBlock 1.4s infinite ease-in-out both;
}
.call_loader .loader_1 span:nth-child(1) {
    top: 0;
    left: 0;
}
.call_loader .loader_1 span:nth-child(2) {
    top: 0;
    right: 0;
    animation: this_call_loaderBlockInverse 1.4s infinite ease-in-out both;
}
.call_loader .loader_1 span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: this_call_loaderBlockInverse 1.4s infinite ease-in-out both;
}
.call_loader .loader_1 span:nth-child(4) {
    bottom: 0;
    right: 0;
}
@keyframes this_call_loader_1 {
    0%, 10%, 100% {
        width: 40px;
        height: 40px;
    }
    65% {
        width: 80px;
        height: 80px;
    }
}

/*  */
.call_loader .loader_4_block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(0deg) translate3d(0, 0, 0);
    animation: this_call_loader 1.4s infinite ease-in-out;
}
.call_loader .loader_4_block span {
     position: absolute;
     display: block;
     width: 40px;
     height: 40px;
     animation: this_call_loaderBlock 1.4s infinite ease-in-out both;
}
.call_loader .loader_4_block span:nth-child(1) {
     top: 0;
     left: 0;
}
.call_loader .loader_4_block span:nth-child(2) {
     top: 0;
     right: 0;
     animation: this_call_loaderBlockInverse 1.4s infinite ease-in-out both;
}
.call_loader .loader_4_block span:nth-child(3) {
     bottom: 0;
     left: 0;
     animation: this_call_loaderBlockInverse 1.4s infinite ease-in-out both;
}
.call_loader .loader_4_block span:nth-child(4) {
     bottom: 0;
     right: 0;
}
 @keyframes this_call_loader {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
     65% {
         width: 130px;
         height: 130px;
    }
}
 @keyframes this_call_loaderBlock {
    0%, 30% {
        transform: rotate(0);
    }
    55% {
        background-color: var(--loader-color2);
    }
     100% {
        transform: rotate(360deg);
    }
}
 @keyframes this_call_loaderBlockInverse {
    0%, 20% {
        transform: rotate(0);
    }
    55% {
        background-color: var(--loader-color2);
    }
     100% {
        transform: rotate(-360deg);
    }
}
/* Loader_2 */

@-webkit-keyframes this_call_dyinglight {
    15% {
        transform: scale(1.6);
    }
    50% {
        transform: rotate(-89deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}

.call_loader .dl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.call_loader .dl_square {
    display: block;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call_loader .dl_container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 50% 50% 0;
    -webkit-animation: this_call_dyinglight 1s ease infinite;
    animation: this_call_dyinglight 1s ease infinite;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.call_loader .dl_corner--top:before,
.call_loader .dl_corner--top:after,
.call_loader .dl_corner--bottom:before,
.call_loader .dl_corner--bottom:after {
    position: absolute;
    width: 40px;
    height: 40px;
    content: "";
}

@media (max-width: 768px) {
    .call_loader .dl_square {
        width: 7rem;
        height: 7rem;
    }
    .call_loader .dl_corner--bottom:after {
        width: 25px;
        height: 25px;
    }
}

.call_loader .dl_corner--top:before {
    border-left: var(--loader-border1) solid;
    border-top: var(--loader-border1) solid;
    top: -6px;
    left: -6px;
    color: var(--loader-color1);
}
.call_loader .dl_corner--top:after {
    border-right: var(--loader-border2) solid;
    border-top: var(--loader-border2) solid;
    top: -6px;
    right: -6px;
    color: var(--loader-color2);
}

.call_loader .dl_corner--bottom:before {
    border-left: var(--loader-border2) solid;
    border-bottom: var(--loader-border2) solid;
    color: var(--loader-color2);
    bottom: -6px;
    left: -6px;
}
.call_loader .dl_corner--bottom:after {
    border-right: var(--loader-border1) solid;
    border-bottom: var(--loader-border1) solid;
    color: var(--loader-color1);
    bottom: -6px;
    right: -6px;
}
.call_loader .dl_square img {
    width: 80%;
    height: auto;
    animation: this_call_zoomImg 1s linear infinite;
}
@keyframes this_call_zoomImg {
    15% {
        transform: scale(1.6);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* loader_3 */
.call_loader .horizontal_bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call_loader .horizontal_bar .horizontal_bar_logo {
    display:flex;
    flex-direction:row;
}
.call_loader .horizontal_bar .horizontal_bar_logo img {
    width: 140px;
    height: auto;
}
.call_loader .horizontal_bar_logo i {
    font-size: 50px;
}
.call_loader .horizontal_bar .horizontal_bar_loader{
    position: absolute;
    left:50%;
    margin-top:10px;
    transform: translate(-50%, -50%);
    width:140px;
}
.call_loader .horizontal_bar .horizontal_bar_loader{
    margin-top:10px;
}
.call_loader .horizontal_bar_loader .horizontal_bar_loading{
    width:50px;
    animation: this_call_animation_loader3 1.8s infinite;
}

@keyframes this_call_animation_loader3  {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(90px);
    }
    100% {
        transform: translateX(0px);
    }
}
/* loader_3 php */
.call_loader .container_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call_loader .container_loader .container_logo {
    display:flex;
    flex-direction:row;
}
.call_loader .container_loader .container_logo img {
    width:270px;
    height : auto;
}
.call_loader .container_loader .loader{
    position: absolute;
    left:50%;
    margin-top:32px;
    transform: translate(-50%, -50%);
    height: var(--loader-border2);
    width:240px;
    background-color: var(--loader-color2);
}
.call_loader .container_loader .loading{
    background-color: var(--loader-color1);
    width:80px;
    height: var(--loader-border1);
    animation: this_call_animation 1.8s infinite;
}
@keyframes this_call_animation {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(160px);
    }
    100% {
        transform: translateX(0px);
    }
}
@media (max-width: 768px) {
    .container_loader .container_logo img {
        width:110px;
    }
    .container_loader .loader{
        margin-top:12px;
        width:120px;
    }
    .container_loader .loading{
        width:40px;
    }
    @keyframes this_call_animation {
        0% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(80px);
        }
        100% {
            transform: translateX(0px);
        }
    }
}

/* loader_4 */
.call_loader .nc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.call_loader .nc .newtons-cradle-img {
    width: 140px;
    height: auto;
}
.call_loader .nc .newtons-cradle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    margin-top: 10px;
}
.call_loader .nc .newtons-cradle div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
@media (max-width: 768px) {
    .call_loader .nc .newtons-cradle-img {
        width: 90px;
        height: auto;
    }
    .call_loader .nc .newtons-cradle {
        width: 70px;
        margin-top: 10px;
    }
    ;.call_loader .nc .newtons-cradle div {
        width: 6px;
        height: 6px;
    }
}
.call_loader .newtons-cradle div:nth-of-type(1) {
    transform: translateX(-100%);
    animation: this_call_left-swing 0.5s ease-in alternate infinite;
}
.call_loader .newtons-cradle div:nth-of-type(4) {
    transform: translateX(-90%);
    animation: this_call_right-swing 0.5s ease-out alternate infinite;
}
@keyframes this_call_left-swing {
    50%, 100% { transform: translateX(95%); }
}
@keyframes this_call_right-swing {
    50% {transform: translateX(-95%); }
    100% {transform: translateX(100%); }
}

/* loader_5 */
.call_loader .center-body-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call_loader .loader-square {
    width: 140px;
    height: 140px;
    display: inline-block;
    position: relative;
}
.call_loader .loader-square img {
    width: 120px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.call_loader .loader-square:before,
.call_loader .loader-square::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10px;
}
.call_loader .loader-square:before {
    border: solid var(--loader-border1) var(--loader-color1);
    animation: this_call_loader-sq 1s infinite;
}
.call_loader .loader-square::after {
    position: absolute;
    display: inline-block;
    animation: this_call_loader--backwards 1s infinite;
    top: 0;
    left: 0;
    border: solid var(--loader-border2) var(--loader-color2);
}
@keyframes this_call_loader-sq {
    50% {
        transform: rotate(45deg);
        opacity: .8;
    }
}
@keyframes this_call_loader--backwards {
    50% {
        transform: rotate(-45deg);
        opacity: .4;
    }
}
@media (max-width: 768px) {
    .call_loader .loader-square {
        width: 80px;
        height: 80px;
    }
    .call_loader .loader-square img {
        width: 70px;
    }
}

/* loader_6 */
.call_loader .center-body-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call_loader .loader-circle-2 {
    width: 140px;
    height: 140px;
    border: var(--loader-border1) solid var(--loader-color1);
    border-radius: 100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.call_loader .loader-circle-2 img{
    width: 80%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.call_loader .loader-circle-2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 200px;
    left: 0px;
    background-color: var(--loader-color2);
    animation: this_call_anm-CL-fill 2s ease 0s alternate infinite;
    display: inline-block;
}
.call_loader .loader-circle-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
@keyframes this_call_anm-CL-fill {
    100% {
        top: 0;
    }
}
@media (max-width: 768px) {
    .call_loader .loader-circle-2 {
        width: 90px;
        height: 90px;
    }
    .call_loader .loader-circle-2::before {
        top: 120px;
    }
}

/* loader_7 */
.call_loader .center-body-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call_loader .loader-spanne {
    position: relative;
    width: 140px;
    height: 140px;
    animation: this_call_anm-LL-21-move1 1s linear infinite;
}
.call_loader .loader-spanne .loader-spanne-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.call_loader .loader-spanne .loader-spanne-img img {
    width: 80%;
    height: auto;
    animation:this_call_no-spin 1s linear infinite;
}
.call_loader .loader-spanne > span {
    position: absolute;
    background: var(--loader-color1);
    animation: this_call_anm-LL-move2 1s linear infinite;
}
.call_loader .loader-spanne > span:nth-of-type(1) {
    width: 100%;
    height: var(--loader-border1);
    left: 0;
    top: 0;
}
.call_loader .loader-spanne > span:nth-of-type(2) {
    width: var(--loader-border1);
    height: 100%;
    left: 0;
    bottom: 0;
}
.call_loader .loader-spanne > span:nth-of-type(3) {
    width: 100%;
    height: var(--loader-border1);
    right: 0;
    bottom: 0;
}
;.call_loader .loader-spanne > span:nth-of-type(4) {
    width: var(--loader-border1);
    height: 100%;
    right: 0;
    top: 0;
}
@media (max-width: 768px) {
    .call_loader .loader-spanne > span {
        animation: this_call_anm-LL-move2xs 1s linear infinite;
    }
    .call_loader .loader-spanne {
        width: 80px;
        height: 80px;
    }
    @keyframes this_call_anm-LL-move2xs {
        0% {
            transform: scale(1);
            margin: 0;
        }
        20% {
            transform: scale(1);
            margin: 0;
        }
        60% {
            transform: scale(0.5);
            margin: 10px;
            background: var(--loader-color2);
        }
        100% {
            transform: scale(1);
            margin: 0;
        }
    }
}
@keyframes this_call_anm-LL-21-move1 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
@keyframes this_call_anm-LL-move2 {
    0% {
        transform: scale(1);
        margin: 0;
    }
    20% {
        transform: scale(1);
        margin: 0;
    }
    60% {
        transform: scale(0.5);
        margin: 30px;
        background: var(--loader-color2);
    }
    100% {
        transform: scale(1);
        margin: 0;
    }
}

@keyframes this_call_no-spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(0deg);
        transform: scale(.6, .6);
    }
    100% {
        transform: rotate(-90deg);
    }
}

/* loader_8 */
.call_loader .loader-ball-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
}
.call_loader .center-body-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.call_loader .loader-ball {
    animation: this_call_anm-BL-rotate 3.33334s infinite linear;
    font-size: 200%;
    height: 100px;
    line-height: 0;
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
}
.call_loader img.loader-ball-img {
    width: 50px;
    height: auto;
    position: absolute;
    left: 25%;
}
.call_loader .loader-ball > div {
    background-color: var(--loader-color1);
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: absolute;
    width: 12px;
    vertical-align: top;
}
.call_loader .loader-ball > div::after {
    content: "";
    display: inline-block;
    background-color: var(--loader-color2);
    position: absolute;
}
.call_loader .loader-ball .dot1 {
    left: 0;
    top: 0;
}
.call_loader .loader-ball .dot1::after {
    animation: this_call_anm-BL-moveH 1.66667s -1.2500025s infinite both linear;
    width: 90px;
    height: 4px;
    top: 5px;
    left: 12px;
}
.call_loader .loader-ball .dot2 {
    bottom: 0;
    left: 0;
}
.call_loader .loader-ball .dot2::after {
    animation: this_call_anm-BL-moveV 1.66667s -1.2500025s infinite reverse both linear;
    width: 4px;
    height: 90px;
    bottom: 12px;
    left: 5px;
}
.call_loader .loader-ball .dot3 {
    bottom: 0;
    right: 0;
}
.call_loader .dot3::after {
    animation: this_call_anm-BL-moveH 1.66667s -1.66667s infinite reverse both linear;
    width: 90px;
    height: 4px;
    bottom: 5px;
    right: 12px;
}
.call_loader .loader-ball .dot4 {
    top: 0;
    right: 0;
}
.call_loader .loader-ball .dot4::after {
    animation: this_call_anm-BL-moveV 1.66667s -0.833335s infinite both linear;
    height: 90px;
    width: 4px;
    top: 12px;
    right: 5px;
}
@keyframes this_call_anm-BL-rotate {
    from {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
@keyframes this_call_anm-BL-moveV {
    from {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    12% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    13% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }
    25% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}
@keyframes this_call_anm-BL-moveH {
    from {
        transform: scale(0, 1);
        transform-origin: 0 0;
    }
    12% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    13% {
        transform: scale(1, 1);
        transform-origin: 100% 0;
    }
    25% {
        transform: scale(0, 1);
        transform-origin: 100% 0;
    }
    100% {
        transform: scale(0, 1);
        transform-origin: 100% 0;
    }
}
@media (max-width: 768px) {
    .call_loader .loader-ball {
        height: 90px;
        width: 90px;
    }
    .call_loader .loader-ball-container {
        width: 30vw;
        height: 30vw;
    }
    .call_loader img.loader-ball-img {
        width:70px;
    }
    .call_loader .loader-ball .dot1::after {
        width: 78px;
    }
    .call_loader .loader-ball .dot2::after {
        height: 78px;
    }
    .call_loader .loader-ball .dot3::after {
        width: 78px;
    }
    .call_loader .loader-ball .dot4::after {
        height: 78px;
    }
}

