#modal-endosser {
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-endosser .endosser-list {
    margin-top: 40px;
    padding-left: 20px;
}

#modal-endosser .endosser-item {
    width: 90%;
    position: relative;
}

#modal-endosser .modal-content {
    max-width: 1000px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    min-height: calc(100% - 100px);
}

#endosser-content {
    display: flex;
    flex-direction: column;
}

#endosser-content .endosser-item {
    position: relative;
    min-height: 50px;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

#endosser-content .endosser-comment {
    text-align: justify;
}

#endosser-content .endosser-author {
    text-align: end;
}

#endosser-content .endosser-comment:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

#endosser-content .endosser-author a:before {
    content: '\2014 \00A0';
}
.endosser-contain .single-menu{
    flex-basis:auto;
    margin-bottom:40px;
    padding-bottom:40px;
    border-bottom:1px solid #ddd;
}
.endosser-contain .single-menu:nth-child(5), .endosser-contain .single-menu:nth-child(6){
    border-bottom:0;
}
.endosser-contain .single-menu{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.endosser-contain .single-menu:hover img{
    border-radius:0;
}
.endosser-contain .single-menu img{
    max-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid #9fbd38;
    padding: 3px;
    transition: .5s;
}
.endosser-contain .single-menu h4{
    /*text-transform:capitalize;*/
    font-size: 20px;
    border-bottom: 2px dashed #9fbd38;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: none;
    color: #9fbd38;
    text-align: left;
}
@media (max-width: 767px) {
    .endosser-contain .single-menu .link-issuerName img {
        max-width: 50px;
        height: 50px;
        margin-right: 10px;
        padding: 1px;
    }
    .endosser-contain .single-menu .link-issuerName {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #modal-endosser .endosser-list {
        margin-top: 20px;
        padding-left: 0px;
    }
    #endosser-content .endosser-item {
        padding: 15px 0px;
    }
}