#filterContainer{
	margin-top:20px;
	margin-bottom: 10px;
}
.searchObjCSS{
	padding-top: 0px !important;
	padding-left: 0px;
    box-shadow: 0px 1px 2px 1px rgba(100, 100, 100, 0.4);
}
.central-section .central-container #filterContainer{
    margin-top: 0px;
}
#filterContainer .dropdown , .searchObjCSS .dropdown{
	/* height: 57px; */
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    float: left;
}

#filterContainer .dropdown-tags .btn-menu{
    color : #2C3E50 ;
}
#filterContainer .dropdown .btn-menu, .searchObjCSS .dropdown .btn-menu, .searchObjCSS .filters-btn{
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
    top: 0px;
    position: relative;
    border-radius: 20px;
    text-decoration: none;
    background: white;
    line-height: 20px;
    display: inline-block;
    margin-left: 5px;
}

#filterContainer .dropdown .dropdown-menu, .searchObjCSS .dropdown .dropdown-menu{
	position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #6b6b6b;
    padding:0px;
}

.searchObjCSS .dropdown-menu-complexe{
    position: relative;
    background-color: white;
    color: grey;
    margin-top: 3%;
}

 .searchObjCSS .dropdown .dropdown-menu {
    position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #38bbbc;
    padding: 0px;
}
.horizontalList .btn-list-horizontal{
    background: #9fbd38;
    border: 2px solid #9fbd38;
    color: white;
    border-radius: 10px;
    margin-right: 4px;
    margin-top: 4px;
    font-size: 14px;
    padding: 10px 12px;
    position:relative;
    text-transform: capitalize;
    font-weight: 800;
}
.horizontalList .btn-list-horizontal.active{
    background: white;
    border: 2px solid #9fbd38;
    color: #9fbd38;
}
.horizontalList .btn-list-horizontal .badge{
    position: absolute;
    top: 0px;
    text-align: -webkit-center;
    right: 0px;
    border-radius: 0px 7px 0px 10px;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    width: fit-content;
    background: white;
    color: #9fbd38;
}
.horizontalList .btn-list-horizontal.active .badge{
    background: #9fbd38;
    color: white;
}

.searchObjCSS .dropdown-menu-complexe .list-filters .button-complexeSelectList{
    background: transparent;
    border: transparent;
}

.searchObjCSS .dropdown-menu-complexe .first-level{
    font-size: 22px;
    background: transparent;
    border: transparent;
}

#filters-container .dropdown-menu-complexe , .searchObjCSS .dropdown-menu-complexe{
    border-radius: 5px;
    border: 1px solid #6b6b6b;
    padding:10px;
}

.searchObjCSS .dropdown-menu-complexe .list-filters .button-complexeSelectList-subsub{
    background: transparent;
    border: transparent;
}

.searchObjCSS .dropdown-menu-complexe .list-filters .subsub{
    display: grid;
    font-size: 14px;
}

.searchObjCSS .dropdown-menu-complexe .list-filters .button-complexeSelectList-subsub:hover{
    background-color : grey;
    color: white;
}

.searchObjCSS .dropdown-menu-complexe .list-filters .button-complexeSelectList:hover{
    background-color : grey;
    color: white;
}

#filterContainer .dropdown .dropdown-menu, .searchObjCSS .dropdown .dropdown-menu{
    position: absolute;
    overflow-y: visible !important;
    top: 50px;
    left: 5px;
    width: 250px;
    border-radius: 2px;
    border: 1px solid #6b6b6b;
    padding:0px;
}

#filterContainer .dropdown .dropdown-menu:before , .searchObjCSS .dropdown .dropdown-menu:before,
#filterContainer .dropdown .dropdown-menu:after, .searchObjCSS .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:before,
#costum-scope-search .dropdown-result-global-search:after{
	bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}

#filterContainer .dropdown .dropdown-menu-complexe:before , .searchObjCSS .dropdown .dropdown-menu-complexe:before,
#filterContainer .dropdown .dropdown-menu-complexe:after, .searchObjCSS .dropdown .dropdown-menu-complexe:after{
    bottom: 100%;
    left: 20px;
    margin-top: -20px;
    border: solid transparent;
    content: " ";
    height: 0px;
    width: 0;
    border-width: 11px;
    position: absolute;
}

#filterContainer .dropdown .dropdown-menu:before, .searchObjCSS .dropdown .dropdown-menu:before,
#costum-scope-search .dropdown-result-global-search:before{
	border-bottom-color: grey;
    border-width: 12px;
    left: 19px;
}

#filterContainer .dropdown .dropdown-menu-complexe:before, .searchObjCSS .dropdown .dropdown-menu-complexe:before{
    border-bottom-color: grey;
    border-width: 12px;
    left: 19px;
}


#filterContainer .dropdown .dropdown-menu:after, .searchObjCSS .dropdown .dropdown-menu:after,
#costum-scope-search .dropdown-result-global-search:after{
	border-bottom-color: white;
}

#filterContainer .dropdown .dropdown-menu .list-filters, .searchObjCSS .dropdown .dropdown-menu .list-filters{
    max-height: 300px;
    overflow-y: scroll;
}

#filterContainer .dropdown .dropdown-menu button, .searchObjCSS .dropdown .dropdown-menu button{
	border: none;
    background: white;
    /* width: 100%; */
    text-align: left;
    font-size: 14px;
    padding-left: 15px;
    padding: 10px 10px;
    padding-left: 15px;
}
.searchObjCSS .btn-favorites-filters{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ccc;
    background-color: #93c020;
    color: white;
    border-radius: 20px 0px 0px 20px;
    width: 50px;
    padding-right: 0px;
    font-size: 20px;
}
.searchObjCSS #preview-favorites{
    display:none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 30%;
    top: 50px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6);
    background-color: white;
    z-index: 10000;
}
#costum-scope-search .dropdown-result-global-search span, #costum-scope-search .dropdown-result-global-search i {
    color: #caa91a;
}
#filterContainer .dropdown .dropdown-menu button:hover, .searchObjCSS .dropdown .dropdown-menu button:hover{
	background-color: #e8e8e8;
}
#filterContainer .dropdown .dropdown-menu button.mainTitle, .searchObjCSS .dropdown .dropdown-menu button.mainTitle{
    font-weight: 800;
    padding-left: 10px;
}
#filterContainer #input-sec-search, .searchObjCSS #input-sec-search, .searchBar-filters input{
	display: grid;
	margin-bottom: 5px;
	float: left;
}

.searchBar-filters{
    margin-right: 5px;
}

.searchBar-filters .main-search-bar-addon, .searchBar-filters .main-search-bar, .searchBar-filters .alias-main-search-bar{
    border-left: inherit;
    border: 1px solid #6b6b6b;
}
.searchBar-filters .main-search-bar,
.searchBar-filters .alias-main-search-bar{
    margin-right: 0px;
    border-right: 0px solid !important;
}
#filterContainer #input-sec-search .input-group, .searchObjCSS #input-sec-search .input-group, .searchBar-filters{
    display: inline-flex;
        height: 40px;
}
.searchObjCSS #input-sec-search .input-group-addon{
    height: 40px;
}
#filterContainer #input-sec-search .input-group-addon, .searchBar-filters .input-group-addon{
	padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #6b6b6b;
    margin-top: 5px;
    text-align: center;
    background-color: white ;
    border-right-width: 0px;
    border: 1px solid #6b6b6b;
    border-radius: 0px 20px 20px 0px;
    border-right-width: 0px;
    width: 30px;
}
.searchObjCSS #input-sec-search .input-group-addon {
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #6b6b6b;
    margin-top: 5px;
    text-align: center;
    background-color: white !important;
    border-right-width: 0px;
    border: 1px solid #6b6b6b;
    border-radius: 20px 0px 0px 20px;
    border-right-width: 0px;
    width: 30px;
}
#filterContainer #input-sec-search .input-global-search, .searchBar-filters .search-bar
#filterContainer #input-sec-search .input-global-search, #filterContainer .search-bar, .searchBar-filters .search-bar {
	border-left-width: 0px;
    height: 40px;
    margin-top: 5px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: none;
    width: inherit;
    border-color: #6b6b6b;
}
.searchObjCSS #input-sec-search .input-global-search{
    border-left-width: 0px;
    height: 40px;
    margin-top: 5px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: none;
    width: inherit;
    border-color: #6b6b6b;
}

.searchObjCSS .count-result-xs{
    margin-top: 5px;
    font-size: 16px;
    font-weight: 800;
}
.searchBar-filters .main-search-bar-addon{
    width: 15%;
    height: 40px;
    background-color: #dadada;
    color : white ; 
    font-size: 14px;
    padding: 12px 7px;
}
#activeFilters .filters-activate{
    border: 2px solid transparent;
    background-color: #2c3e50;
    margin-right: 5px;
	margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    display: inline-block;
}
#centerFilters-active .filters-activate{
    border: 2px solid transparent;
    background-color: #2c3e50;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
    display: inline-block;
}
#activeFilters .filters-activate i{
	margin-right: 3px;
}
#filterContainer .labelFilterTit, .searchObjCSS .labelFilterTit{
	line-height: 45px;
    font-size: 20px;
    margin-right: 15px;
}
#costum-scope-search .dropdown-result-global-search{
	position: absolute;
    top: 60px;
    z-index: 1;
    background-color: white;
    border: 1px solid #6b6b6b;
    max-height: 400px;
    border-radius: 3px;
}
.list-filters button .label-filter{
    line-height: 21px;
    vertical-align: bottom;
}
#costum-scope-search .dropdown-result-global-search .content-result{
	height: 390px;
	overflow-y: auto;
}
.headerSearchContainer .headerSearchleft{
    display: flex;
}

.usersFilter.mr-2 {
    margin-right: 0.5rem;
}

.searchObjCSS{
    right: 0px;
    padding-left: 0px;
    box-shadow: none;
    border-bottom: none;
}

.aap-filter.menu-verticale .container-filters-menu .panel-heading {
    padding: 12px 15px;
}

.header-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
}

.filter-global-shown {
    grid-template-columns: 0px 8.5rem 1fr !important;
}

.header-grid-container {
    grid-template-columns: 0px 50.1rem 1fr;
}

.filterHidden {
    width: 38rem;
}

.column-filter-title {
    display: flex;
    justify-content: space-between;
}

.designed-column-filter #activeFilters .filters-activate {
    padding: 2px 3px !important;
    font-size: 1.2rem !important;
}

.designed-column-filter .searchObjCSS.configFilter #filterContainerInside {
    overflow-y: auto;
    max-height: 64vh;
}

.showHide-filters-xs .filter-xs-count.searchObj {
    position: relative;
    float: right;
    margin-right: -2rem;
    margin-top: -1rem;
}

.cs-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.cs-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(55, 53, 47, 0.09); 
    border-radius: 5px; 
}
.cs-scroll::-webkit-scrollbar-stack {
    background-color: #3A3A3A; 
}
.cs-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}
.cs-scroll::-webkit-scrollbar-thumb:vertical  {
    height: 100px; 
}
.cs-scroll.scroll-small::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.panel-group.container-filters-menu .panel-body.row {
    width: 100%;
}

button.saved-filter-accordion-row, button.accordion-row {
    background-color: transparent;
    border: none;
    text-align: left;
    display: inline-flex;
}

button.accordion-row {
    width: 100%;
}
.panel-heading.accordion-bg-hover {
    border-bottom: solid 1px #D9D9D9;
}
button.accordion-row span.accordion-checkmark {
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    margin: 0 12px 0px 0px;
    padding-right: 20px;
    border: 1px solid #DDE8CD;
}
button.accordion-row .accordion-checkmark:after {
    content: "";
	position: absolute;
	display: none;
    transition: all .3s ease;
}
button.accordion-row.active span.accordion-checkmark:after {
    display: block;
} 
button.accordion-row.active .accordion-checkmark:after {
    left: 8px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid #3F4E58;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
@media (min-width: 768px){
    .searchObjCSS > *{
        display: inline-grid;
        /*margin-left: 5px;*/
        margin-right: 5px;
    }
}
.aap-filter .searchBar-filters.set-width {
    width: 95% !important;
    margin: 0 .5rem !important;
}
.searchObjCSS .searchBar-filters{
    display: inline-flex;
}
#activeFilters{
    margin:0px;
    display: block;
    text-align: left;
}

@media (max-width: 978px) {
    .filterHidden {
        width: 22rem;
    }
    .header-grid-container {
        grid-template-columns: 0px 35rem 1fr;
    }
}

@media (max-width: 850px) {
    .filterHidden {
        width: 18rem;
    }
    .header-grid-container {
        grid-template-columns: 0px 31rem 1fr;
    }
}

@media (max-width: 767px){
	#filterContainer .dropdown, .searchObjCSS .dropdown,
    #filterContainer #input-sec-search, .searchObjCSS #input-sec-search,
    #filterContainer #input-sec-search .input-global-search, .searchObjCSS #input-sec-search .input-global-search{
		width: 100%;
	}
    .panel-heading.accordion-bg-hover.in {
        margin-bottom: 1rem !important;
    }
    .menu-filters-lg.designed-column-filter {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #fff;
        transition: all 0.3s;
    }
    .header-grid-container {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .header-grid-container .center-filter-header.set-sticky {
        background-color: #fff;
        z-index: 100;
    }
    .header-grid-container .center-filter-header {
        display: flex !important;
    }
    .header-grid-container .filterHidden.filter-alias.searchBar-filters {
        width: 95% !important;
    }
}

#filters-nav .container-filters-menu{
    display: inline-block;
}
.searchObjCSS{
	padding-top: 10px
}

/*  Nicoss  */

.container-filters-menu {
    /*background-color: #FF286B;*/
    padding: 0px 10px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
.searchObjCSS {
    padding: 0px;
}
@media (min-width: 768px){
    #filters-nav .menu-filters-xs, .searchObjCSS .menu-filters-xs{
        min-height: inherit !important;
    }
}
@media (max-width: 767px){
    #filterContainer .dropdown, .searchObjCSS .dropdown,
    #filterContainer #input-sec-search, .searchObjCSS #input-sec-search,
    #filterContainer #input-sec-search .input-global-search, .searchObjCSS #input-sec-search .input-global-search{
        width: 100%;
    }

    #filters-nav .menu-filters-xs{
        background-color: #fff;
        text-align: center;
        width: 90%;
        margin-right: 10%;
        overflow-y: scroll;
        bottom: 0;
        left: 0px;
        position: fixed;
        display: none;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6)
    }
    #show-filters-xs,#show-list-xs{
        height: 40px;
        font-size: 20px;
        width: 10%;
        border-radius: 0px;
        position: relative;
        border-right: 0px;
        border-color: #dadada;
        padding: 0px;
    }
    #show-filters-xs .filter-xs-count{
        position: absolute;
        right: 2px;
        top: 2px;
        background: #4fb796;
    }
    #show-filters-xs .icon-close-filters{
        display: none;
    }
    #show-filters-xs .icon-open-filters{
        width: 30px;
        height: 30px;
    }
    #show-filters-xs .icon-open-filters.white{
        filter: invert(100%);
    }
    .searchBarInMenu {
        width: 90%;
    }
    #filters-nav button.showHide:not(.show-icon) i:before {
      content: "\f0c9";
    }
    #main-search-bar-addon, #second-search-bar-addon, #main-search-xs-bar-addon, #second-search-xs-bar-addon {
        width: 15%;
    }
    #main-search-bar, #main-search-xs-bar, #second-search-xs-bar {
        width: 85%;
    }
    #costum-scope-search .dropdown-result-global-search{
        top: 4px;
    }
    #filters-nav .dropdown .dropdown-menu, .searchObjCSS .container-filters-menu .dropdown .dropdown-menu, .searchObjCSS .dropdown-result-global-search {
        /*overflow-y: hidden!important;*/
        position: relative!important;
        top: -2px;
        /*top: 40px;*/
        width: 100%;
        border-radius: 2px;
        border: 1px solid #6b6b6b;
        left: 0px;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6);
    }
    #filterContainer .dropdown .btn-menu, .searchObjCSS .dropdown .btn-menu {
        border-radius: 4px;
    }
    #filters-nav .dropdown .dropdown-menu:after, #filters-nav .dropdown .dropdown-menu:before, .searchObjCSS .dropdown .dropdown-menu:after, .searchObjCSS .dropdown .dropdown-menu:before{
        border-width:0px;
    }
    .searchObjCSS .container-filters-menu #input-sec-search .input-global-search {
        border-radius: 0px 4px 4px 0px;
    }
    .searchObjCSS .container-filters-menu #input-sec-search .input-group-addon {
        border-radius: 4px 0px 0px 4px;
    }

    .searchObjCSS{
        padding-top: 10px
    }

    #filterContainer .dropdown, .searchObjCSS .dropdown, #filterContainer #input-sec-search, .searchObjCSS #input-sec-search, #filterContainer #input-sec-search .input-global-search, .searchObjCSS #input-sec-search .input-global-search {
        width: 100%!important;
    }
    .filterXs .aap-filter .searchBar-filters.set-width {
        width: 98% !important;
    }
}
#around-me-filters {
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    height: 40px;
     margin: 5px 5px 0px 5px;
    float: left;
}

/*#filterContainer .dropdown .dropdown-menu button, .searchObjCSS .dropdown .dropdown-menu button {
    border-bottom: solid;
}*/
.btn-filters-select.lvl0{
    font-weight: bold;
    font-size: 16px;
}
.filterComplexe hr{
    margin-top: 0px;
}
.btn-filters-select{
    padding: 10px 12px;
}

.searchObjCSS .searchBar-filters.set-width {
    width: 95% !important;
    margin: 0 0.5rem !important;
}
.searchObjCSS .searchBar-filters {
    width: auto!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.container-filters-menu .filters-affix-dropdown{
    position: fixed !important;
    width: 100% !important;
    margin-top: 0px !important;
    border: 1px solid #dadada !important;
}
.container-filters-menu .filters-affix-dropdown:before, .container-filters-menu .filters-affix-dropdown:after{
    border-width: 0px !important;
}
@media (max-width: 767px){
    .container-filters-menu .filters-affix-dropdown{
        top: 0px !important;
        padding-left: 0px !important;
    }
    #filterContainer .dropdown .btn-menu, .searchObjCSS .dropdown .btn-menu, .searchObjCSS .filters-btn {
        width: 100%;
        margin-left: 0px;
        border-radius: 4px;
    }
    #around-me-filters {
        border-radius: 4px;
    }
    .searchObjCSS > *{
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
}

.searchObjCSS .divSearchTheme{
    display: flex;
}
.searchObjCSS .btn-theme-start-search, .searchObjCSS .btn-theme-refresh {
    border: solid 1px !important;
    border-radius: 0px !important;
}

.searchObjCSS .btn-select-filliaire{
    border-color: transparent;
    text-transform: uppercase;
    border-radius:0px;
    text-transform: none !important;
    background-color: #F2F2F2;
    font-family: "montserrat";
    font-weight: 200 !important;
    font-size:12px;
}

.searchObjCSS .btn-select-filliaire:hover {
    background-color: #DADADA;
    border: 1px solid transparent;
}

.divSearchThemeOdd .btn-odd-start-search, .divSearchThemeOdd .btn-odd-refresh {
    border: solid 1px !important;
    border-radius: 0px !important;
}

.divBtnOdd .btn-select-odd-tags:hover img, .divBtnOdd .btn-select-odd-tags:hover .title-odd,  .divBtnOdd .btn-select-odd-tags:hover .number-odd {
    transform: scale(1.1);
}


.filter-btn-hide-map{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid red;
    outline: none;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.filter-btn-hide-map:hover{
    color:red;
    background:transparent;
}


.dropdown-menu-large {
    margin-left: 0px;
    margin-right: 16px;
    padding: 20px 0px;
}
.dropdown-menu-large > div > div {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > div > div > div > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight:300;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > div div > div > a:hover,
.dropdown-menu-large > div div > div > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-title {
    color: #428bca;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 999 !important;
    word-break: break-word;
}

@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > div {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > div:last-child {
        margin-bottom: 0;
    }
    .filterXs .aap-filter.menu-verticale .container-filters-menu, .filterXs .propsAndFilter .xs-dropdown-tab {
        border-bottom: 1px solid #dadada;
        box-shadow: 1px 2px 5px #656262dd !important;
    }
}

#filterContainer .dropdown-large .dropdown-menu, .searchObjCSS .dropdown-large .dropdown-menu{
    width: clamp( 650px, 950px, 1000px);
}

.thin{
    padding: 0.2em !important;
    border-radius: 0.2em;
    display: block !important;
}

.dropdown-menu-large {
    -webkit-column-width: 14em !important;
    -moz-column-width: 14em !important;
    column-width: 14em !important;
    padding: .3em;
}

.dropdown-menu-large > .col {
    padding: .2em 0em 0.1em 0.5em;
    width:  14em;
}

.dropdown-menu-large > .col > div{
    display: inline-block;
    height: 100%;
    width:  13.9em;
}

.badge-theme-count{
    border-radius: 10px;
    margin: 0 .5rem;
}

/* animation btn css */
.btnPdfAnimation {
    transition: all .25s ease;
}

.pdfloading-animate {
/*    position: absolute;
    width: 60px;
    height: 60px;*/
    z-index: 100;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all .25s ease;
    animation: pdfloading infinite .8s linear;
}
.pdfloading-animate:after {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #e21a1a;
    animation: loading infinite .8s ease .05s;
    /*position: absolute;*/
}

.btnPdfAnimation.pdfloading {
    width: 60px;
}

.btnPdfAnimation.pdfloading .btnpdftext, .btnPdfAnimation.pdfloading i {
    display: none;
}

.btnPdfAnimation .btnpdftext, .btnPdfAnimation i {
    display: inline-block;
    padding-left: 3px;
}

.btnPdfAnimation.pdfloading .pdfloading-animate {
    opacity: 1;
    display: flex;
}

.btnPdfAnimation .pdfloading-animate {
    display: none;
}

.generatebtnstyle {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    letter-spacing: 1px;
}

.generatepdfbtnstyle.generatepdfbtn {
    color: #b94a48;
    border: solid 2px #b94a48;
}

.generatepdfbtnstyle.generateeditbtn {
    color: #bd8753;
    border: solid 2px #f3aa09;
}

.generatepdfbtnstyle.generatedelbtn {
    color: #b94a48;
    border: solid 2px #b94a48;
}

div.panel-heading.accordion-bg-hover.active::before {
    content: " ";
    background-color: #c7d301;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 1.2rem;
    left: -0.1rem;
}

.btn-filters-select .label-text {
    margin-right: 1rem;
}
.scrollable-row .panel-body.row {
    max-height: 25vh;
    overflow-y: auto;
}
.btn-filters-select .badge-theme-count {
    height: 2.1rem !important;
}

.panel-collapse .panel-body.row {
    padding-right: 2px;
}
.label-text-to-ellipsis .label-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.label-text-to-ellipsis .label-text:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}
.panel-collapse .panel-body.row::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.panel-collapse .panel-body.row::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}
.panel-collapse .panel-body.row::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
.panel-collapse .panel-body.row::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@keyframes pdfloading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.container-filters-horizontal {
    display: flex;
    flex-direction: column;
}

.container-filters-horizontal .dropdown {
    margin: 8px 0px;
}

.container-filters-horizontal .dropdown > a {
    width: 100% !important;
    margin: 0px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.container-filters-horizontal .searchBar-filters{
    margin: 8px 0px !important;
}

.container-filters-horizontal .searchBar-filters input{
    width: 100%;
    margin: 0px !important;
    text-align: left;
}
.container-filters-horizontal .searchBar-filters span{
    margin: 0px !important;
}

.container-filters-horizontal #costum-scope-search{
    margin: 8px 0px;
}
.container-filters-horizontal #input-sec-search{
    width: 100%;
    margin: 0px;
}
.container-filters-horizontal #input-sec-search span{
    margin: 0px;
}
.container-filters-horizontal #input-sec-search input{
    width: 100% !important;
    margin: 0px;
}

.container-filters-horizontal #activeFilters{
    margin-top: 30px;
}
.searchObjCSS .dropdown .btn-menu[data-type^="doublon"].active{
    background: #9fbd38;
    color: white;
}