.kanban-board .kanban-drag{
    padding :1px !important;
}
.kanban-item{
    height: 144px !important;
    border: 1px dotted #000!important;
    border-radius: 5px!important;
}
.kanban-board{
    background-color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.item_handle.drag_handler,.kanban-item .edit-action{
    display: none;
}
.kanban-item:hover .item_handle.drag_handler,.kanban-item:hover .edit-action{
    display: block;
}
.cokanban-card{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cokanban-card .card-title{
    flex: 1;
    cursor : pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.cokanban-card .card-title span{
    flex:1
}
.cokanban-card .card-title .edit-action{
    border: 0 !important;
}
.cokanban-card .kanban-button{
    flex: 0;
}
div:has(.cokanban-card){
    height: 100%;
}
.kanban-container{
    margin: 0 auto;
}
.kanban-board .kanban-drag {
    height: 93% !important;
}
.kanban-board-header{
    cursor: pointer;
}
.no-border{
    border: 0px !important;
}
.kanban-board .kanban-drag {
    min-height: 200px;
    padding: 20px;
    height: 456px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.kanban-container .success {
    background: #7da53d;
    color: #fff
}

.kanban-container .info {
    background: #2C98DE;
    color: #fff
}

.kanban-container .warning {
    background: #f4ce46;
}

.kanban-container .error {
    background: #fb7d44;
    color: #fff
}
.kanban-container .dark{
    background: #57a6db;
    color: #fff
}

.kanban-container .custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.kanban-filter-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.search-action-field {
    width: 250px;
    height: 40px;
}

@media (max-width: 594px) {
    .search-action-field,.select2-container{
        width: 100%;
    }
}


#s2id_search-person .select2-input{
    /*display: none;*/
}
#s2id_search-person .select2-input.select2-default{
    display: block;
}