.wrapper{
  height: 95%;
  width: 95%;
  display: flex;
}

#head-buttons{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}
.btn-add {
  color: white;
  font-weight: bold;
  background: #9fbd38;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-quit {
  color: white;
  font-weight: bold;
  background: #e6344d;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.swal-wide{
    width:80% !important;
}

.btn-lock {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 140px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid #cacaca;
  z-index: 5;
  cursor: pointer;
}

.bar-zoom {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  font-size: 24px;
  color: white;
  padding: 5px 10px;
  background: #555555;
  border-radius: 4px;
  border-right: 1px solid #cacaca;
  z-index: 5;
}
.bar-zoom .fa {
  cursor: pointer;
  padding-left: 10px;
}
.bar-zoom .fa:nth-child(1) {
  padding-left: 0px;
}

#drawflow {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  background-size: 25px 25px;
  background-image:
   linear-gradient(to right, #f1f1f1 1px, transparent 1px),
   linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

/* Editing Drawflow */

.drawflow .drawflow-node {
  background: white;
  border: 1px solid #cacaca;
  -webkit-box-shadow: 0 2px 15px 2px #cacaca;
  box-shadow: 0 2px 15px 2px #cacaca;
  padding: 0px;
}

.drawflow .drawflow-node.selected  {
  background: white;
  border: 1px solid #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow .drawflow-node.selected .title-box {
  color: #22598c;
  /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .connection .main-path {
  stroke: #4ea9ff;
  stroke-width: 3px;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
  height: 15px;
  width: 15px;
  border: 2px solid #cacaca;
}

.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
  background: #4ea9ff;
}

.drawflow .drawflow-node .output {
  right: 10px;
}

.drawflow .drawflow-node .input {
  left: -10px;
  background: white;
}

.drawflow > .drawflow-delete {
  border: 2px solid #43b993;
  background: white;
  color: #43b993;
  -webkit-box-shadow: 0 2px 20px 2px #43b993;
  box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
  border: 2px solid #4ea9ff;
  background: white;
  color: #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
  height: 50px;
  line-height: 50px;
  background: #f7f7f7;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}
.drawflow .title-box svg {
  position: initial;
}
.drawflow-node .box {
  padding: 10px 20px 20px 20px;
  font-size: 14px;
  color: #555555;

}
.drawflow-node .box p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.drawflow-node.slack .title-box {
  border-radius: 4px;
}

.drawflow-node {
  background: #bababa;
  height: 80px!important;
  width: 80px!important;
  text-align: center;
  color: black;
}

.drawflow .connection{
  top: 0;
  left: 0;
}

.drawflow .connection .point {
  stroke: #cacaca;
  stroke-width: 2;
  fill: white;
  
}

.drawflow .connection .point.selected, .drawflow .connection .point:hover {
  fill: #4ea9ff;
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor:pointer;
}

