:root {
	--green-light: #F4F5F0;
	--aap-primary-color: #9BC125;
	--aap-primary-dark: #79981C;
	--not-totaly-white: #f4f4f4;

	--aap-secondary-color: #3F4E58;
	--aap-secondary-dark: #2c393e;
	--aap-tertiary-color: #6c757da8;
	--text-black: rgba(0, 0, 0, .7);
	--green-tertiary-color: #EDF2DB;
	--red-color: #E50000;
	--red-background: #F7B9B9;
	--text-green: #016D46;
	--mix-dark: #231f1fde;

	--bg-yellow-light: #fff6d1;
	--color-yellow-light: #cda300;
	--bg-brown-light: #e3c0a6;
	--color-brown-light: #9f6538;
	--bg-blue-light: #c0dce9;
	--color-blue-light: #47a6d3;
	--bg-blue-pastel-light: #a0e7e5;
	--color-blue-pastel-light: #31817f;
	--bg-blue-mermaid-light: #8db7dd;
	--color-blue-mermaid-light: #145da0;
	--bg-blue-deep-light: #97a1e5;
	--color-blue-deep-light: #000c66;
	--bg-green-cheeky-light: #d6e19e;
	--color-green-cheeky-light: #8a9b36;
	--bg-green-healthy-light: #b5e386;
	--color-green-healthy-light: #59981a;
	--bg-pasture-light: #8e7d8f;
	--color-pasture-light: #211522;

}

.invite-tab {
	margin-right: 50px;
}

/*Container*/
.column-flex, .row-flex {
	display: flex;
	gap: 5px;
}

.column-flex {
	flex-direction: column;
}

.row-flex {
	flex-direction: row;
}

.aap-page-info {
	display: flex;
	justify-content: space-between;
	border-radius: 8px;
	background: white;
	padding: 10px;
	margin-bottom: 10px !important;
	box-shadow: inset 0 0 8px rgba(0, 0, 0, .03);
}

.aap-page-info-left {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex: 1;
}

.aap-page-info-right {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.aap-list-container {
	margin: 0 50px;
}

.aap-list-container .row {
	margin-right: 0;
	margin-left: 0;
}

.border-none {
	border: none;
}

.rotate90 {
	transform: rotate(90deg);
	padding-right: 3px;
}

/* Border */
.border-bottom-default {
	border-bottom: 1px solid #ddd;
}

/* Font */
.fw600 {
	font-weight: 600;
}

.fs17 {
	font-size: 1.7em !important;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	--offset: 1vw;
	--move-initial: calc(-0% + var(--offset));
	--move-final: calc(-105% + var(--offset));
}

.text-ellipsis.hover-marquee:hover {
	width: fit-content;
	display: table;
	text-overflow: clip;
	white-space: nowrap;
	transform: translate3d(var(--move-initial), 0, 0);
	animation: marquee 8s ease-in-out infinite;
	animation-play-state: running;
	word-break: break-all;
}

.contibutors-dropdownmenu {
	max-height: 30vh;
	max-width: 18vw;
	overflow-y: auto;
}

.btn-inside-dropdown {
	position: sticky;
	bottom: 0px;
	z-index: 1;
	background: white;
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

/* Layout */
.h70 {
	height: 70vh !important;
}

.h75 {
	height: 75vh !important;
}

.bg-aap-white {
	background-color: var(--not-totaly-white) !important;
}

.zi-2 {
	z-index: 2;
}

/* Space layout */
.pb-32 {
	padding-bottom: 1.2rem !important;
}

/* Element */
.btn-aap-tertiary {
	background: var(--green-tertiary-color);
	border: none;
	border-radius: 6px;
	font-weight: 600;
}

.btn-aap-primary, .btn-aap-secondary {
	color: white !important;
	font-weight: 700;
	transition: all .3s ease;
	word-spacing: 5px;
}

.btn-aap-primary {
	background-color: var(--aap-primary-color);
	border-color: var(--aap-primary-color);
}

.btn-aap-secondary {
	background-color: var(--aap-secondary-color);
	border-color: var(--aap-secondary-color);
}

.btn-aap-primary:hover {
	background-color: var(--aap-primary-dark);
	border-color: var(--aap-primary-dark);
}

.btn-aap-primary[disabled] {
	background-color: var(--aap-tertiary-color);
	border-color: var(--aap-tertiary-color);
}

.aap-sw-btn.btn-aap-primary[disabled] {
	border-color: var(--aap-tertiary-color) !important;
	color: var(--aap-tertiary-color) !important;
	background: white !important;
	opacity: 1 !important;
}

.btn-aap-secondary:hover {
	background-color: var(--aap-secondary-dark);
	border-color: var(--aap-secondary-dark);
}

.btn-aap-link {
	transition: all .3s ease;
	font-weight: 600;
	word-spacing: 5px;
	border-color: var(--aap-primary-color);
	background-color: transparent;
	color: var(--mix-dark);
}

.btn-aap-link i {
	color: var(--aap-primary-color);
}

.btn-aap-link:hover {
	color: var(--aap-primary-color);
	border-width: 1.5px;
}

.notif-btn-aap-primary {
	color: white !important;
	font-weight: 700;
	transition: all .3s ease;
	word-spacing: 5px;
	background-color: var(--aap-primary-dark);
	border-color: var(--aap-primary-dark);
}

.notif-btn-aap-primary:hover {
	background-color: var(--aap-primary-color);
	border-color: var(--aap-primary-color);
}

.notif-btn-aap-link {
	transition: all .3s ease;
	font-weight: 600;
	word-spacing: 5px;
	background-color: transparent;
	color: var(--aap-primary-dark);
}

.notif-btn-aap-link:hover {
	color: var(--aap-primary-color);
}

.btn-aap-link[disabled], .btn-aap-link[disabled] i {
	border-color: var(--aap-tertiary-color);
	color: var(--aap-tertiary-color);
}

.text-aap-primary {
	color: var(--aap-primary-color);
}

.text-secondary {
	color: var(--aap-secondary-dark);
}

i.custom-font {
	font-size: 2.5rem;
	margin-top: -0.5rem;
}

.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bg-txt {
	color: #4d4d49;
	opacity: 0.6;
	padding: 1em 3em;
	top: 0;
	left: 0;
	bottom: 0;
	text-align: center;
}

.pos-abs {
	position: absolute;
	bottom: 0;
	top: auto;
}

/* FILTRE */
.aap-nav-panel #filterContainerInside {
	max-height: 64rem !important;
}

#filterContainerL #filterContainerInside,
#filterContainerD #filterContainerInside {
	overflow-y: auto;
	max-height: 64vh;
}

#filterContainerL #filterContainerInside #activeFilters,
#filterContainerD #filterContainerInside #activeFilters {
	display: none !important;
}

ul.custom-scroll-bar::-webkit-scrollbar, #filterContainerInside::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.aap-nav-panel .endOfresults {
	padding: 0 2px !important;
	font-size: 12px !important;
	text-transform: none !important;
}

.aap-filter .badge-theme-count {
	height: 2rem;
}

.filter-pastille {
	display: flex;
	position: relative !important;
	float: right;
	margin-top: -0.8rem !important;
	margin-right: -1.5rem;
	margin-left: -2rem !important;
	background-color: #272525ed !important;
}

.nav-panel-border {
	border-bottom: 2px dashed #ddd;
	display: flex;
	justify-content: center;
}

/* Track */
ul.custom-scroll-bar::-webkit-scrollbar-track, #filterContainerInside::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 8px;
}

/* Handle */
ul.custom-scroll-bar::-webkit-scrollbar-thumb, #filterContainerInside::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
}

/* Handle on hover */
ul.custom-scroll-bar::-webkit-scrollbar-thumb:hover, #filterContainerInside::-webkit-scrollbar-thumb:hover {
	background: #555;
}

div#filterContainerInside {
	background-color: #DEDEDE4D;
	padding: 10px 10px;
}

.aap-filter div.searchBar-filters,
div.filter-alias.searchBar-filters {
	/* float: none !important; */
	height: 50px;
	position: relative !important;
	display: block;
}

.aap-filter .searchBar-filters input.main-search-bar,
.filter-alias.searchBar-filters input.alias-main-search-bar {
	border-radius: 8px;
	height: 40px;
	width: 100%;
	padding-right: 3rem;
	border: 1px solid #3F4E58 !important;
}

#listPropsPanel .divEndOfresults {
	display: none;
}

#proposition-summary-container .badge-tag.tag-theme {
	cursor: unset !important;
}

.aap-filter .searchBar-filters span.main-search-bar-addon,
.filter-alias.searchBar-filters span.main-search-bar-addon {
	border: none !important;
	font-size: 20px;
	background-color: transparent !important;
	position: absolute;
	right: 1rem;
	color: #3F4E58 !important;
	font-weight: 300;
	margin-top: 2px;
}

.modal-header.bg-purple, .modal-header.bg-purple button {
	color: rgb(235, 231, 231);
}

.filterHidden {
	width: 38rem;
}

#filterContainerInside .panel-heading.accordion-bg-hover h4.panel-title, button.accordion-row {
	color: #6F6F6F !important;
}


.aap-nav-panel div#filterContainerInside {
	background-color: transparent !important;
}

#show-filters-lg .filter-xs-count {
	/* position: absolute;
    margin-left: 5rem;
    margin-top: -5px; */
	position: relative;
	float: right;
	margin-right: -2rem;
	margin-top: -1rem;
}

.openPropsList .filter-xs-count, .propsAndFilter .filter-xs-count {
	position: absolute;
	margin-left: -1rem;
	margin-top: -5px;
	color: #fff;
	background-color: #333;
}

.panel-body.row {
	width: 100%;
}

/* Proposition */
.proposition-container .moreLinkaap,
.proposition_list .lessLinkaap,
.aap-filter .moreLinkaap {
	padding: 0px;
	border-color: transparent;
	color: var(--aap-primary-color);
	font-size: initial !important;
	display: table;
	text-align: left;
}

.aap-filter .moreLinkaap {
	width: fit-content;
}

.proposition-container .proposition-collapse-container .collapse-toggle {
	display: block;
	text-align: center;
}

.proposition-container .proposition-collapse-container {
	flex-basis: 100%;
}

.title .main {
	font-size: 18px;
}

.title .status {
	font-size: 16px;
	vertical-align: middle;
}

.zone-column {
	flex: 1;
}

.proposition-container {
	padding: 15px;
	border-radius: 16px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: row;
	gap: 10px;
	position: relative;
}

.proposition-name, .project-name {
	text-transform: none;
	font-size: 19px;
	margin-top: 0;
}

.proposition-description {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6;
	line-clamp: 6;
	-webkit-box-orient: vertical;
}

.proposition-image-container {
	border-radius: 8px;
	overflow: hidden;
	width: 170px;
	height: auto;
	max-height: 225px;
	position: relative;
}

.proposition-image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.proposition-info-container {
	flex: 1;
	overflow: hidden;
}

.proposition-actions-container {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.star-indicator {
	position: absolute;
	top: -13px;
	left: -13px;
	border-radius: 50%;
	background-color: white;
	width: 45px;
	height: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--aap-primary-color);
	z-index: 1;
}

/*.star-indicator .fa {
    font-size: 20px;
}*/

.star-indicator-value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	color: #fff;
	font-size: 15px;
}

.star-indicator.active .fa {
	color: var(--aap-primary-color);
}

.parent-link,
.parent-link:hover {
	color: var(--aap-primary-color);
	cursor: pointer;
}

.depositor-image {
	display: inline-block;
	overflow: hidden;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	vertical-align: middle;
}

.depositor-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.deposition-date {
	margin-left: 28px;
}

.alert-actions {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.contributors {
	width: 150px;
	text-align: center;
}

.contributor-images {
	position: relative;
	width: 100%;
	height: 40px;
}

.contributor-images .contributor-image {
	position: absolute;
	top: 0;
	border: 2px solid white;
	border-radius: 50%;
	overflow: hidden;
	width: 35px;
	height: 35px;
}

.contributor-images .contributor-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.more-contributor-image {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	padding: 0 8px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .2);
	cursor: pointer;
}

.notifications-count.badge:empty {
	display: none !important;
}

.btn-menu-notif.cosDyn-notifications .notifications-count {
	display: flex;
	position: relative !important;
	float: right;
	margin-top: -0.2rem !important;
	margin-right: -1.2rem;
	margin-left: -2.5rem !important;
}

.metric-number.cursor-pointer, .metric-number.pointer {
	color: var(--aap-primary-color)
}

.proposal-count-pastille {
	display: flex;
	position: absolute !important;
	margin-top: -1.4rem !important;
	margin-right: 0.5rem;
	margin-left: -1rem !important;
	background-color: #272525ed !important;
}

#dialogContent .aap-nav-panel #filterContainerInside {
	max-height: 60vh !important;
}

/* project avancement */
.in-progress {
	color: var(--color-yellow-light) !important;
	background-color: var(--bg-yellow-light) !important;
}

.in-idea {
	color: var(--color-brown-light) !important;
	background-color: var(--bg-brown-light) !important;
}

.in-concept {
	color: var(--color-blue-light) !important;
	background-color: var(--bg-blue-light) !important;
}

.in-started {
	color: var(--color-blue-pastel-light) !important;
	background-color: var(--bg-blue-pastel-light) !important;
}

.in-development {
	color: var(--color-blue-mermaid-light) !important;
	background-color: var(--bg-blue-mermaid-light) !important;
}

.in-testing {
	color: var(--color-green-cheeky-light) !important;
	background-color: var(--bg-green-cheeky-light) !important;
}

.in-mature {
	color: var(--color-green-healthy-light) !important;
	background-color: var(--bg-green-healthy-light) !important;
}

.in-finished {
	color: var(--color-blue-deep-light) !important;
	background-color: var(--bg-blue-deep-light) !important;
}

.in-abandoned {
	color: var(--color-pasture-light) !important;
	background-color: var(--bg-pasture-light) !important;
}

.proposition-alert {
	color: var(--red-color);
	background-color: var(--red-background);
	padding: 2px 8px;
	border-radius: 8px;
}

.aap-nav-panel {
	background-color: var(--green-light);
}

.aap-nav-panel>h4 {
	padding-bottom: 10px !important;
	padding-top: 10px !important;
}

.aap-nav-panel .title {
	padding: 0 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.aap-nav-panel .panel {
	background: none;
	border: none;
	box-shadow: none;
}

.aap-nav-panel .panel-heading {
	background-color: transparent;
	border: none;
}

.aap-nav-panel .panel-heading .panel-title i {
	padding: 14px 12px;
	color: #6F6F6F;
}

.collapse-title {
	padding: 12px 0px 12px 14px;
	font-size: 14px;
	transition: all .3s ease;
}

.collapse-title:hover {
	text-decoration: none !important;
}

.collapse-title:focus {
	color: inherit;
	text-decoration: none !important;
}

.props-item {
	padding: 12px 7px 12px 7px;
	color: var(--text-black);
	font-weight: 500;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: 0 0 0.5rem 10px;
	transition: all .3s ease;
}

.nav-tabs.aap-nav-tabs {
	z-index: 999;
}

.nav-tabs.aap-nav-tabs, .aap-nav-panel>h4 {
	border-bottom: 2px dashed #ddd;
}

.nav.nav-tabs>li>a {
	transition: all .3s ease;
	margin-bottom: 5px;
	border: none;
}

.props-item.active {
	position: sticky;
	z-index: 2;
	top: 0rem;
	bottom: 0rem;
}

.props-item.active, .nav.nav-tabs>li.active>a {
	font-weight: 600;
	background-color: var(--aap-primary-color) !important;
	color: white !important;
	border-radius: 8px;
	text-decoration: none;
	border: none !important;
	font-size: 1.6rem;
}

.props-item:not(.props-item.active):hover {
	font-weight: 500;
	padding-left: 14px;
	text-decoration: none;
	background-color: white;
	border-radius: 8px;
	color: var(--text-black);
}

.custom-tooltip .custom-tooltip-body {
	display: block;
	left: 2px;
	background-color: #231f1fde;
	padding: 4px;
	border-radius: 4px;
	box-shadow: 2px 2px 5px 2px #00000033;
	transition: height .3s ease;
}

.custom-tooltip .tooltip-arrow {
	left: 1.4px;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #231f1fde;
}

.nav.nav-tabs>li:not(.active)>a:hover {
	background-color: var(--green-light);
	color: var(--text-black);
	border-radius: 8px;
	text-decoration: none;
}

.props-item:focus {
	text-decoration: none !important;
}

.props-item.has-empty-required-input::before {
	font-family: "Fontawesome";
	content: "\f06a";
	display: flex;
	position: absolute;
	top: 3px;
	left: 2px;
	color: var(--red-color);
	width: 20px;
	height: 20px;
	text-align: center;
	opacity: 0.8;
	border: none;
	transform: scale(1.12);
}

.fix-top {
	top: 0px !important;
}

#coformbuilderCenterContent {
	transition: .2s;
}

.width-without-side {
	width: calc(100vw - 27vw);
}

.coformbuilder-right-content {
	height: 85vh;
	position: fixed;
	right: 0;
	z-index: 100;
	width: 0px;
	background-color: #3A3A3A;
	transition: .2s;
	color: white;
}

.coformbuilder-right-content.active {
	width: 350px;
}

.coformbuilder-side-content.active .btn-toggle-coformbuilder-sidepanel i {
	transform: rotate(180deg);
}

.btn-toggle-coformbuilder-sidepanel[data-target="right"] {
	border-radius: 25px 0px 0px 25px;
	text-align: right;
	padding: 5px 5px 5px 0px;
	left: -25px;
}

.btn-toggle-coformbuilder-sidepanel {
	position: absolute;
	top: 100px;
	border: none;
	width: 25px;
	z-index: 999;
	background-color: #3A3A3A;
	color: white;
	line-height: 20px;
	font-size: 14px;
}

.evaluate-info {
	display: none;
	color: var(--not-totaly-white);
	right: -3.5rem;
	transition: all .3s ease;
	padding: 0;
	font-size: 1.5rem;
	font-weight: bolder;
}

.props-item:hover .evaluate-info {
	display: block;
	top: 0rem;
	right: 0.5rem;
	border-radius: 8px;
	box-shadow: 5px 2px 5px 3px #00000033;
	/* border: solid 1px var(--aap-secondary-dark); */
	background-color: var(--mix-dark);
}

.aap-header {
	display: grid;
	grid-template-areas: "breadcrumb hideshowmenu";
	grid-template-columns: 1fr auto;
	align-items: center;
}

.aap-header .breadcrumb>li+li:before {
	padding: 0 5px;
	color: #ccc;
	content: "\203A" !important;
}

.aap-header .breadcrumb {
	background-color: rgb(245 245 245 / 0%) !important;
	margin-bottom: 0px !important;
	grid-area: breadcrumb;
}

.aap-header .breadcrumb li {
	font-size: 15px !important;
}

.aap-header .breadcrumb li a.active {
	color: var(--aap-primary-color);
}

.panel-title.d-flex i {
	padding: 12px 12px 0 4px;
}

.panel-title .filter-xs-count {
	background-color: black;
	position: absolute;
	margin-left: 4.5rem;
	margin-top: 4px;
}

.badge-tag.tag-theme {
	display: block;
	background: #E0E0E0;
	padding: 5px 10px;
	border-radius: 30px;
	cursor: pointer;
}

.menu-filters-lg {
	position: sticky;
	top: 9rem;
}

.fa-2xx {
	font-size: 20px !important;
}

.csvdivcontainer {
	overflow-x: scroll;
	height: 400px;
	overflow-y: scroll;
}

.csvdialog {
	background: rgb(0 0 0 / 54%);
}

.ui-sortable .ui-sortable-handle {
	cursor: grab;
}

.tab-pane.coformstep {
	position: relative !important;
	/* height: auto !important; */
}

.questionList.ui-sortable {
	position: relative;
	height: auto;
	overflow: hidden;
}

#ajax-modal.portfolio-modal.modal {
	z-index: 100001;
}

.aap-modal-backdrop {
	top: 0;
	display: block;
	overflow: hidden !important;
	display: block;
	background-color: rgba(3, 3, 3, 0.62);
}

.cosDyn-app .tooltips-menu-btn {
	z-index: 1000;
}

.aap-modal-md {
	top: 8vh;
	display: block;
	width: 75vw;
	height: 85vh;
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	min-height: inherit !important;
}

.aap-preconfig-modal-md {
	top: 8vh;
	display: block;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	min-height: inherit !important;
}

.aap-close-modal {
	position: sticky !important;
	right: 1rem !important;
	float: right !important;
	top: 1.2rem !important;
}

.custom-filter.searchBar-filters.set-width {
	width: 95% !important;
	margin: 0 0.5rem !important;
}

.to-hide .searchBar-filters {
	display: none !important;
}

.text-body-secondary {
	--bs-text-opacity: 1;
	color: var(--aap-secondary-dark) !important;
}

.bd-toc-toggle {
	display: flex;
	align-items: center;
}

.coform-nav {
	font-size: .875rem !important;
}

.coform-nav nav ul li {
	list-style: none !important;
}

.coform-nav nav ul li a {
	display: block;
	padding: 0.125rem 0 0.125rem 0.75rem;
	color: inherit;
	text-decoration: none;
	border-left: 0.125rem solid transparent;
	font-size: 1.7rem;
}

.coform-nav nav ul li.active a {
	color: var(--clr_var);
	border-left-color: var(--clr_var);
}

.proposition-collapse-item .clps-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.truncate {
	width: 81px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.aap-new-ribbon2 {
	width: 33px;
	padding: 5px 0;
	position: absolute;
	top: -6px;
	left: 34px;
	text-align: center;
	border-top-left-radius: 3px;
	background: var(--aap-primary-color);
	font-size: 11px;
	color: white;
}

.aap-new-ribbon2:before {
	height: 0;
	width: 0;
	right: -5.5px;
	top: 0.1px;
	border-bottom: 6px solid var(--aap-primary-color);
	border-right: 6px solid transparent;
}

.aap-new-ribbon2:before, .aap-new-ribbon2:after {
	content: "";
	position: absolute;
}

.aap-new-ribbon2:after {
	height: 0;
	width: 0;
	bottom: -13.5px;
	left: 0;
	border-left: 17px solid var(--aap-primary-color);
	border-right: 16px solid var(--aap-primary-color);
	border-bottom: 13px solid transparent;
}

.aap-new-counter {
	background-color: var(--aap-primary-color);
}

.menu-admin-item.btnNavAdmin {
	font-weight: 600;
	background-color: var(--aap-primary-color) !important;
	color: white !important;
	border-radius: 8px;
	text-decoration: none;
	border: none !important;
	font-size: 1.6rem;
}

.menu-admin-item.btnNavAdmin:hover {
	background-color: var(--aap-primary-dark) !important;
	border-color: var(--aap-primary-dark) !important;
	color: white !important;
}

#content-admin-panel #goBackToHome .btnNavAdmin {
	background-color: var(--aap-primary-color) !important;
	color: white !important;
}

.btn-access-column {
	display: flex;
	flex-direction: row;
	gap: 5px;
}

/** filter header */
.filter-shown {
	grid-template-columns: 0px 8.5rem 1fr 1fr !important;
}

.filter-list-container-grid {
	grid-template-columns: 0px 50rem 1fr 1fr;
}

#filter-list-container {
	/*display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 30px;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.view-container {
	justify-self: self-end;
	flex-grow: 1;
}

.view-container .medium-view {
	display: block;
	float: right;
}

.view-container .small-view {
	display: none;
}

.menu-hider {
	display: none;
	grid-area: hideshowmenu;
	padding: 8px 0;
}

.menu-hider .show .show-menus, .menu-hider .hide-menus {
	display: block;
}

.menu-hider .show .hide-menus, .menu-hider .show-menus {
	display: none;
}

.modal-content #dialogContentBody .allPropsPanel, .modal-content #dialogContentBody .allFilterPanel {
	margin-top: 0 !important;
	top: 0rem !important;
}

.modal-content #dialogContentBody .propsDetailPanelContainer {
	padding-top: 2rem !important;
	margin-top: inherit !important;
}

.modal-content #dialogContentBody .propsDetailPanel {
	top: 0rem !important;
}

.modal-content .allPropsPanel, .modal-content .allFilterPanel {
	margin-top: 0 !important;
}

.modal-content .allPropsPanel, .modal-content .allFilterPanel {
	top: -1rem !important;
}

.set-p0 {
	padding-bottom: 0 !important;
}

.financing-progression {
	background-color: #576576;
}


.modal-content .propsDetailPanelContainer {
	margin-top: 0 !important;
}

.modal-content .propsDetailPanel {
	top: -8rem !important;
}

.modal-content .propsDetailPanel .pos-sticky {
	top: -1rem
}

.modal-content .propsDetailPanel .nav-tabs.aap-nav-tabs {
	top: 0rem !important;
}

.modal-content #dialogContentBody .propsDetailPanel .nav-tabs.aap-nav-tabs, .modal-content #dialogContentBody .allPropsPanel, .modal-content #dialogContentBody .allFilterPanel {
	top: 35px !important;
}

.inviteToProposalDropdown {
	width: 40%;
	padding-left: 1rem;
	z-index: 100001;
}

.inviteToProposalDropdown h4.title {
	color: var(--text-black);
	text-transform: none !important;
}

.inviteToProposalDropdown label {
	display: none !important;
}

.coforminput.questionBlock.dragged {
	background-color: white !important;
	z-index: 1000000;
	box-shadow: 5px 2px 5px 3px #00000033;
}

.new-comments-badge {
	position: absolute;
    margin-left: -2%;
    margin-top: -1%;
    font-size: 11px;
}

@media (max-width: 978px) {
	.filterHidden {
		width: 22rem;
	}

	#filter-list-container {
		grid-template-columns: 0px 35rem 1fr 1fr;
	}
}

@media (max-width: 850px) {
	.filterHidden {
		width: 18rem;
	}

	#filter-list-container {
		grid-template-columns: 0px 31rem 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.pos-sticky {
		position: sticky;
		/* top: 9rem; */
		top: 14rem;
	}

	.pos-fixed {
		position: fixed;
		top: 10rem;
		bottom: auto;
	}

	.csvdialog .modal-dialog {
		width: 95% !important;
		/*height: 95% !important;*/
	}

	.visible-schu-lg {
		display: block !important;
	}

	.section-nav-body {
		width: 18.68rem;
	}

	/*.csvdialog .modal-dialog .modal-content{
        height: 100%;
    }*/
}

@media (max-width: 700px) {
	.aap-page-info {
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) {
	.proposition-container-compact {
		width: calc(100% - 10px);
		display: inline-block;
		vertical-align: top;
	}

	.d-none-xs {
		display: none;
	}

	.filterXs .nav.nav-tabs>li>a {
		font-size: 1.2rem !important;
	}

	.filterXs .tab-content {
		font-size: 1.4rem !important
	}

	.filterXs .tab-content .props-item.active {
		font-size: 1.4rem !important;
	}

	.propsAndFilter .filter-xs-count {
		margin-left: 0rem;
		margin-top: 0px;
	}

	.xs-dropdown-tab {
		display: block;
		position: fixed;
		left: 0px;
		top: 9rem;
		z-index: 2;
		background-color: white;
		height: 68vh;
		width: 100vw;
	}

	.props-item {
		width: 94vw;
	}

	#dropdown_search_detail {
		width: 98vw;
		margin-right: auto;
		margin-left: auto;
	}

	#menuTopLeft .aap-filter .visible-xs .showHide-filters-xs, #menuTopLeft #show-list-xs {
		border: none !important;
		background-color: transparent;
		font-size: 2.5rem;
		margin: 2px;
	}

	#menuTopLeft #show-filters-xs .filter-xs-count {
		right: -3rem !important;
	}

	#menuTopLeft .aap-filter .visible-xs .searchBarInMenu.pull-right {
		display: none !important;
	}

	#menuTopLeft .aap-filter {
		position: unset;
		float: left;
		padding-left: 4px;
	}

	#menuTopLeft #filterContainerInside {
		left: 0px;
		right: 0px;
		top: 6vh;
		display: block;
		background-color: rgb(255, 255, 255);
		position: absolute;
		max-height: 60vh;
		min-height: unset !important;
		width: 98vw;
		padding: 10px;
		overflow-y: auto;
	}

	#menuTopLeft #dropdown_search_detail {
		left: 0px;
		right: 0px;
		top: 6vh;
		display: block;
		background-color: rgb(255, 255, 255);
		position: absolute !important;
		max-height: 60vh;
		min-height: unset !important;
		width: 98vw;
		padding: 5px !important;
		margin: 0;
		overflow-y: auto;
	}

	#menuTopLeft .aap-results-container {
		position: unset;
		float: left;
		padding-left: 4px !important;
	}

	#communitySearchContent .searchObjCSS #filterContainerInside {
		min-height: auto !important;
	}

	.cosDyn-xsMenu .dropdown-toggle.cosDyn-buttonList:hover, .cosDyn-xsMenu .cosDyn-buttonList.menu-not-have-sub-menu:hover {
		background-color: var(--aap-primary-color);
		color: var(--text-black) !important;
	}

	.cosDyn-xsMenu .dropdown.open .dropdown-toggle.cosDyn-buttonList:after {
		content: "\f0d8";
	}

	.cosDyn-xsMenu .dropdown-toggle.cosDyn-buttonList:after {
		content: "\f0d7";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		margin-left: 5px;
		color: var(--text-black);
		float: right;
		transition: .3s;
	}

	.cosDyn-xsMenu .dropdown-toggle.cosDyn-buttonList.active, .cosDyn-xsMenu .cosDyn-buttonList.menu-not-have-sub-menu.active {
		color: var(--aap-primary-color);
	}

	.cosDyn-xsMenu .dropdown-toggle.cosDyn-buttonList.active:hover {
		color: var(--text-black);
	}

}

@media screen and (max-width: 767px) {
	.aap-nav-tabs {
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	#filter-list-container {
		grid-template-columns: 0px 0rem 1fr 1fr;
	}

	.aap-filter .searchBar-filters.set-width.to-sticky {
		position: sticky !important;
		top: -1rem;
		z-index: 2;
	}

	.menu-hider {
		display: block;
	}

	.nav.nav-tabs.aap-nav-tabs, .row.aap-list-container.aap-page-info {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	#filter-list-container {
		grid-template-columns: unset;
		grid-template-areas: "results views";
	}

	.headerSearchContainerL {
		grid-area: results;
		justify-self: center;
	}

	.view-container {
		grid-area: views;
		justify-self: center;
	}

	.view-container .medium-view {
		display: none;
	}

	.view-container .small-view {
		display: block;
	}
}

@media screen and (max-width: 425px) {
	.aap-list-container {
		margin: 0;
	}
}

/* dropdown full width */
.drop-down-sub-menu {
	background: #e7f2e4;
}

.drop-down-sub-menu .sous-menu-full-width a {
	padding: 10px 25px !important;
}

.drop-down-sub-menu .sous-menu-full-width a.active {
	font-weight: 800;
	background-color: #d4e5cf;
}

.countResults .fa-angle-down {
	display: none;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: var(--aap-primary-color);
}

.aap-year-chooser select {
	margin-left: 5px;
	background: transparent;
	color: #090909;
	border: none;
	font-size: 17px;
	border-radius: unset;
	padding-left: 10px;
	padding-right: 17px;
	cursor: pointer;
	margin-top: 5px;
}

.aap-year-chooser:hover {
	text-decoration: none;
}

.aap-year-chooser select:hover,
.aap-year-chooser select option:hover {
	cursor: pointer;
}

.propsDetailPanelContainer .overview-proposal,
.propsDetailPanelContainer .overview-project {
	display: none;
}

.btn-menu-register {
	padding-left: 5px !important;
}

@media (max-width: 767px) {
	#mainNav .menu-btn-top.btn-menu-register {
		font-size: 17px !important;
	}
}

/* .contentHeaderInformation .link-banner{
    display: none;
} */

.co-popup-campcart-menu {
	background-color: #d8f4f0 !important;
	color: #000;
}

.co-popup-campcart-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #2c3e50;
	z-index: 9999999;
	padding: 1% 20%;
	margin-left: 0 !important;
}

.co-popup-campcart {
	/* min-width: 700px; */
	min-height: 400px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	font-family: "montserrat" !important;
	width: 100%;
}

.co-popup-campcart-content, .co-popup-campcart-finish {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	width: 700px;
	height: 387px;
}

.co-popup-campcart-header {
	padding-top: 20px;
	text-align: center;
}

.co-popup-campcart-header h2 {
	font-weight: bold;
}

.co-popup-campcart-header p {
	font-size: 14px;
	line-height: 1.8;
}

.co-popup-campcart-header p a {
	text-decoration: none;
	font-weight: bold;
	color: #46c6b5;
	text-decoration: underline;
}

.co-popup-campcart-actions {
	display: flex;
	flex-direction: row;
	padding-top: 50px;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.co-popup-campcart-actions li {
	display: flex;
	margin-bottom: 5px;
}

.co-popup-campcart-actions li a {
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 4px;
	color: #2c3e50;
	font-size: 18px;
}

.co-popup-campcart-actions li a span {
	padding-right: 10px;
}

.co-popup-campcart-actions li:first-child a {
	background-color: #9fbd38;
	color: white;
	font-weight: bold;
}

.co-popup-campcart-actions button {
	width: fit-content;
	margin-top: 10px;
	background-color: transparent;
	font-size: 18px;
	color: #2c3e50;
}

.co-popup-campcart-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.co-popup-campcart-content, .co-popup-campcart-finish {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	position: relative;
	padding: 20px;
}

.co-popup-campcart-particle {
	width: 100%;
	height: 100%;
}

.co-popup-campcart-container .ap-starter-btn-close {
	background-color: #2c3e50;
	color: white !important;
	margin-left: 5px;
}

.co-popup-campcart-header {
	background-color: #fff !important;
}

@media (max-width: 720px) {
	.co-popup-campcart-actions {
		flex-direction: column;
	}
}

.co-popup-campcart-question .wrapper {
	display: flex;
	flex-direction: column;
}

.co-popup-campcart-question .grid-row {
	margin-bottom: 1em
}

.co-popup-campcart-question .grid-row, .grid-header {
	display: flex;
	/*   flex: 1 0 auto; */
	/*   height: auto; */
}

.co-popup-campcart-question .grid-header {
	align-items: flex-end;
}

.co-popup-campcart-question .header-item {
	width: 100px;
	text-align: center;
	/*   border:1px solid transparent; */
}

.co-popup-campcart-question .header-item:nth-child(1) {
	width: 180px;
}

.co-popup-campcart-question .subtitle {
	font-size: 0.7em;
}

.co-popup-campcart-question .flex-item:before {
	content: '';
	padding-top: 26%;
}

.co-popup-campcart-question .flex-item {
	display: flex;
	/*   flex-basis:25%; */
	width: 100px;
	border-bottom: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	/*   text-align:left; */
	font-size: 1em;
	font-weight: normal;
	color: #999;
}

.co-popup-campcart-question .flex-item:nth-child(1) {
	border: none;
	font-size: 1.15em;
	color: #000;
	width: 180px;
	justify-content: left;
}

.co-popup-campcart-question [type="radio"]:not([hidden]), .co-popup-campcart-question [type="checkbox"]:not([hidden]) {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.co-popup-campcart-question label {
	/*display: block;*/
	cursor: pointer;
}

.co-popup-campcart-question [type="radio"]:not([hidden])+span:before {
	content: '';
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: -0.25em;
	border-radius: 50%;
	border: 0.125em solid #fff;
	box-shadow: 0 0 0 0.15em #555;
	transition: 0.5s ease all;
}

.co-popup-campcart-question [type="checkbox"]:not([hidden])+span:before {
	content: '';
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: -0.25em;
	border-radius: .25em;
	border: 0.125em solid #fff;
	box-shadow: 0 0 0 0.15em #555;
	transition: 0.5s ease all;
}

.co-popup-campcart-question [type="checkbox"]:not([hidden])+span:before,
.co-popup-campcart-question [type="radio"]:not([hidden])+span:before {
	margin-right: 0.75em;
}

.co-popup-campcart-question [type="radio"]:not([hidden]):checked+span:before,
.co-popup-campcart-question [type="checkbox"]:not([hidden]):checked+span:before {
	background: #46c6b5;
	box-shadow: 0 0 0 0.25em #666;
}

.co-popup-campcart-question [type="radio"]:not([hidden]):focus span:after {
	content: '\0020\2190';
	font-size: 1.5em;
	line-height: 1;
	vertical-align: -0.125em;
}

.co-popup-campcart-question fieldset {
	font-size: 1em;
	border: 2px solid #000;
	padding: 2em;
	border-radius: 0.5em;
	margin-bottom: 20px;
}

.swiper-slide-next {
	display: none !important;
}

.co-popup-campcart-menu {
	background-color: #46c6b5;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.co-popup-campcart-question-container {
	height: 600px;
	/* width: 1000px; */
	position: relative;
}

/*campcart Timeline */
ul.timeline.aap-campcartListStepSwipping {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	list-style-type: none;
	position: relative;
	padding: 0px;
}

ul.timeline.aap-campcartListStepSwipping .active .name-step {
	color: #43c9b7 !important;
}

ul.timeline.aap-campcartListStepSwipping:before {
	content: ' ';
	background: #fff;
	display: inline-block;
	position: absolute;
	left: 10px;
	width: 2px;
	height: 100%;
	z-index: 400;
}

ul.timeline.aap-campcartListStepSwipping>li {
	margin: 10px 0;
	padding-left: 30px;
	float: none;
}

ul.timeline.aap-campcartListStepSwipping>li:before {
	content: ' ';
	background: #fff;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #46c6b5;
	left: 1px;
	width: 18px;
	height: 18px;
	z-index: 400;
}

ul.timeline.aap-campcartListStepSwipping>li.active:before {
	content: ' ';
	background: #46c6b5;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	border: 3px solid var(--aap-secondary-color);
	left: 1px;
	width: 18px;
	height: 18px;
	z-index: 400;
}


.timeline.aap-campcartListStepSwipping>li .name-step {
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	color: #000;
	text-align: left;
}

.timeline.aap-campcartListStepSwipping>li>p {
	font-size: 14px;
	color: #eee;
	grid-template-rows: min-content 1fr;
}

.timeline.aap-campcartListStepSwipping>li>hr {
	width: 100%;
	margin-bottom: 0px;
}

.aap-campcartcontain-info-costum {
	margin-top: 30px;
	margin-bottom: 30px;
}

.aap-campcartcontain-info-costum img.logo-info {
	width: 75px;
	height: 75px;
	border: solid 2px rgba(255, 255, 255);
	background: white;
	border-radius: 50%;
}

.aap-campcartcontain-info-costum .title-info {
	font-size: 18px;
	color: #43c9b7;
}

.co-popup-campcart-question .swiper-slide-:not(:last-child) {
	visibility: hidden;
}

.co-popup-campcart-question .swiper-slide-:not(:last-child) div {
	display: none;
}

.li-start-campcart {
	background-color: var(--aap-primary-color);
	border-radius: 4px;
}

.co-popup-campcart-container input.checkbox-campcart-start:checked+div div+div ul .li-start-campcart {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	width: 100%;
	left: 0;
	height: 100%;
}

.co-popup-campcart-container .li-start-campcart {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	width: 260px;
	left: 0;
	height: 100%;
}

.co-popup-campcart-container input.checkbox-campcart-start:checked+div div+div ul .li-abord-campcart {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	width: 0%;
	opacity: 0;
}

.co-popup-campcart-container .li-abord-campcart {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	width: 190px;
	opacity: 1;
}

.co-popup-campcart-container input.checkbox-campcart-start:checked+div.co-popup-campcart-content {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	width: 1000px;
	height: 600px;
	padding: 0;
}

.co-popup-campcart-container .li-abord-campcart {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	width: 190px;
	opacity: 1;
}

input.checkbox-campcart-start:checked+div div+div ul .li-start-campcart a,
input.checkbox-campcart-start:checked+div div+div ul .li-abord-campcart,
input.checkbox-campcart-start:checked+div div .co-popup-campcart-header-h2,
input.checkbox-campcart-start:checked+div div .co-popup-campcart-header-h4,
input.checkbox-campcart-start:checked+div div .co-popup-campcart-header-p {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	opacity: 0;
}

input.checkbox-campcart-start:checked+div div .co-popup-campcart-header-logo {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	float: left;
	margin-left: 130px;
}

.li-start-campcart a,
.li-abord-campcart,
.co-popup-campcart-header-h2,
.co-popup-campcart-header-h4,
.co-popup-campcart-header-p {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	opacity: 1;
}

.co-popup-campcart-container input.checkbox-campcart-start:checked+div div+div .co-popup-campcart-actions {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	width: 33.33333333%;
	left: 0;
	height: 100%;
	margin: 0;
}

.co-popup-campcart-container input.checkbox-campcart-start:checked+div div+div.co-popup-campcart-header-action {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	height: 100%;
}

.co-popup-campcart-container co-popup-campcart-header-action {
	height: 45px;
}

.co-popup-campcart-container input.checkbox-campcart-start:checked+div div.co-popup-campcart-header {
	transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
	background-color: transparent !important;
	position: absolute;
}

.co-popup-campcart-container .co-popup-campcart-actions {
	transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
	width: 100%;
	left: 0;
	height: 100%;
}

.co-popup-campcart-container .co-popup-campcart-header-logo img.logo-info {
	width: 75px;
	height: 75px;
	border: solid 2px var(--aap-primary-color);
	border-radius: 50%;
}

.co-popup-campcart-container .co-popup-campcart-menu legend {
	font-size: 25px;
}

.co-popup-campcart-container .co-popup-campcart-center {
	margin: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.co-popup-campcart-container .co-popup-campcart-normal {
	max-height: 470px;
	overflow-y: auto;
}

.co-popup-campcart-container .swiper-slide .wrapper {
	padding: 20px 50px;
	text-align: left;
}

.co-popup-campcart-container .co-popup-campcart-title {
	font-size: 30px;
	font-weight: bold;
	color: var(--aap-secondary-color)
}

.co-popup-campcart-container .co-popup-campcart-subtitle {
	font-size: 18px;
	font-weight: bold;
	color: var(--aap-secondary-color)
}

.campcart-info-has-tooltip:hover .campcart-info-tooltip,
.campcart-info-has-tooltip:focus .campcart-info-tooltip,
.campcart-info-has-tooltip.hover .campcart-info-tooltip {
	opacity: 1;
	rotate: 0deg;
	pointer-events: inherit;
}

.co-popup-campcart-container .campcart-info-tooltip {
	display: block;
	position: absolute;
	padding: 10px 30px;
	border-radius: 5px;
	background: var(--aap-primary-color);
	text-align: center;
	color: white;
	opacity: 0;
	pointer-events: none;
	z-index: 5;
	bottom: 30%;
	transform: translate(-50%, 0px);
}

.co-popup-campcart-container .campcart-info-tooltip:hover {
	opacity: 1;
	pointer-events: inherit;
}

.co-popup-campcart-container .campcart-info-tooltip img {
	max-height: 200px;
}

.co-popup-campcart-container .campcart-info-tooltip:after {
	content: '';
	display: block;
	margin: 0 auto;
	widtH: 0;
	height: 0;
	border: 5px solid transparent;
	border-top: 5px solid rgba(0, 0, 0, 0.75);
	position: absolute;
	left: 50%;
}

.co-popup-campcart-container .createActivationStepRow {
	padding: 0px 30px;
}

.co-popup-campcart-container .close-campcart-container, .camp-cart-btn {
	position: absolute;
	/* top: -50%; */
	right: 0;
}

.preced {
	bottom: 0;
	left: 33.3%;
	right: unset;
}

@media (max-width : 1200px) {
	.preced {
		left: 0 !important;
	}

	.co-popup-campcart-container {
		padding: 1% 10% !important;
	}
}

@media (max-width : 550px) {
	.co-popup-campcart-container {
		padding: 1% 5% !important;
	}
}

.cart-stepper-header {
	/* position: absolute; */
	/* width: 66.67%;
	left: 33.3%; */
	display: flex;
	justify-content: space-between;
	padding: 20px;
	z-index: 1;
	padding: 10px;
	position: relative;
	width: 100%;
}

.cart-stepper-header h5 {
	text-align: left;
	padding-right: 10px;
}

.modal-body.cos-cart {
	padding: 0 !important;
}

.clickable[data-actualstep]:hover {
	cursor: pointer;
}

.label-group {
	margin-top: 5px;
}

.kanb-filter-tags {
	border-radius: 8px;
	margin-right: 5px;
	font-size: 1em;
	margin-top: 5px;
	cursor: pointer;
	display: inline-block;
}

.kanb-filter-tags.label-primary {
	background-color: var(--aap-primary-color);
}