/*Détail de proposition*/
:root {
	--totest-color: #3b6d3e;
	--todo-color: #707f94;
	--tracking-color: #43525b;
	--done-color: #52a643;
}
.tab-content {
    padding-top: 10px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
    gap: 5px;
}

.avatar-container .image {
    width: 35px;
    height: 35px;
    min-width: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-container .name {
    flex: 1;
}

.propsDetailPanelContainer {
    background-color: white;
    margin-top: 30px;
    text-align: left;
}

.propsDetailPanelContainer .proposition-container {
    /*padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;*/
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: white;
}

.propsDetailPanelContainer .proposition-collapse-container .caret {
    display: inline-block;
    width: 0;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 4px solid \9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.propsDetailPanelContainer .proposition-collapse-container .collapse-toggle.collapsed .caret {
    transform: rotate(-180deg);
}

.propsDetailPanelContainer .proposition-name {
    text-transform: none !important;
    font-size: 19px !important;
    margin-top: 0 !important;
}

.propsDetailPanelContainer .proposition-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.propsDetailPanelContainer .proposition-image-container {
    border-radius: 8px;
    overflow: hidden;
    width: 170px;
    height: auto;
    max-height: 225px;
    position: relative;
}

.propsDetailPanelContainer .proposition-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.propsDetailPanelContainer .proposition-info-container {
    flex: 1;
    overflow: hidden;
}

.propsDetailPanelContainer .proposition-actions-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*Dépositeur*/
.propsDetailPanelContainer .parent-link,
.propsDetailPanelContainer .parent-link:hover {
    color: var(--aap-primary-color);
    cursor: pointer;
}

.propsDetailPanelContainer .depositor-image {
    display: inline-block;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

.propsDetailPanelContainer .depositor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Description*/
.propsDetailPanelContainer .detail-content {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #bbb;
}

.propsDetailPanelContainer .detail-content > div {
    padding: 24px;
}

/*Thématique*/
.propsDetailPanelContainer .tag-temes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.propsDetailPanelContainer .tag-theme {
    display: block;
    background: #E0E0E0;
    padding: 5px 10px;
    border-radius: 30px;
}

/*Document*/
.propsDetailPanelContainer .doc-view-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.propsDetailPanelContainer .doc-view-container:not(.propsDetailPanelContainer .doc-view-container:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}

.propsDetailPanelContainer .doc-name {
    flex: 1;
}

.propsDetailPanelContainer .doc-icon {
    font-size: 2.5rem;
}

/* Financement*/
.propsDetailPanelContainer .detail-required-fund > table > tbody tr > td:nth-child(2) {
    text-align: right;
}

/*Evaluation*/
.propsDetailPanelContainer .eval-with-badge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.propsDetailPanelContainer .eval-badge {
    background-color: #62ab57;
    color: white;
    padding: 0 10px;
    display: block;
    border-radius: 5px;
}

.propsDetailPanelContainer .eval-stars {
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.propsDetailPanelContainer .eval-stars .fa {
    color: #62ab57;
}

/*Financement*/
.propsDetailPanelContainer .mb-2 {
    margin-bottom: 2rem;
}

.propsDetailPanelContainer .ph-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.propsDetailPanelContainer .ph-2 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.propsDetailPanelContainer .ph-3 {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.propsDetailPanelContainer .ph-4 {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.propsDetailPanelContainer .ph-5 {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.propsDetailPanelContainer .ph-6 {
    padding-bottom: 6rem;
    padding-top: 6rem;
}

.propsDetailPanelContainer .pv-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.propsDetailPanelContainer .pv-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.propsDetailPanelContainer .pv-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.propsDetailPanelContainer .pv-4 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.propsDetailPanelContainer .pv-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.propsDetailPanelContainer .pv-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.propsDetailPanelContainer .card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.required-fund-information .row:nth-child(even) > div {
    background-color: #faf8f8;
}

.required-fund-information .row:nth-child(even) > div > div:nth-child(2) {
    background-color: #eeeeee;
}

.required-fund-information .row:nth-child(odd) > div {
    background-color: #eeeeee;
}

.required-fund-information .row:nth-child(odd) > div > div:nth-child(2) {
    background-color: #faf8f8;
}

.widget {
    width: 100%;
    float: left;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0);
    box-shadow: 0px 1px 1px 0px rgb(0 0 0);
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px;
    /* margin-bottom: 20px; */
    /* min-height: 120px; */
    position: relative;
}

.widget-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 20px;
    text-transform: none;
    margin-top: 0px !important;
}

.container-yes-or-not {
    margin: 0 !important
}

.proposition-summary .proposal-compact {
    text-align: left;
    position: relative;
}

/*filter contributors*/
.contributor-project-filter {
    padding: 5px 0;
}

ul.tab-contributor-panel {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    /*justify-content: end;*/
}

li.tab-contributor {
    width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

li.tab-contributor.active {
    border: var(--aap-primary-color) 4px double;
}

li.tab-contributor.expander {
    background: var(--aap-primary-color);
    color: var(--green-light);
    line-height: 1;
    overflow: unset;
}

li.tab-contributor.expander > .dropdown-toggle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px 0px;
    text-align: center;
    font-size: 14px;
}

li.tab-contributor.expander .dropdown-menu {
    right: 0;
    left: unset;
    max-height: 300px;
    overflow-y: auto;
}

.tab-contributor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contributor-filter.avatar-container {
    padding: 2px 5px;
    color: var(--text-black);
}

.contributor-filter.avatar-container:hover {
    background-color: #f5f5f5;
}

.contributor-filter.avatar-container.active {
    background-color: var(--aap-primary-color);
}

.contributor-dropdown-search {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0px 0 10px;
    padding: 0 5px;
    background: white;
}
.kanban-list-content.todo-column {
    background-color: var(--todo-color);
}
.kanban-list-content.tracking-column {
    background-color: var(--tracking-color);
}
.kanban-list-content.totest-column {
    background-color: var(--totest-color);
}
.kanban-list-content.done-column {
    background-color: var(--done-color);
}
.kanban-list-content:not(.discuter-column,.next-column) .column-header-text,
.kanban-list-content:not(.discuter-column,.next-column) .card-counter-container,
.kanban-list-content:not(.discuter-column,.next-column) .kanban-new-card-button,
.kanban-list-content:not(.discuter-column,.next-column) .kanban-new-card-button:hover
{
    color: white;
}

.aap-action-count.totest {
	background-color: var(--totest-color);
	color: white;
}

/*filter contributors*/

@media screen and (max-width: 469px) {
    .propsDetailPanelContainer .proposition-image-container {
        width: 100%;
    }
}



@media screen and (min-width: 800px) {
    .project-nav.nav-tabs.aap-nav-tabs {
        border-bottom: 2px dashed #ddd;
        display: grid;
        grid-template-areas:
                "button kanban plan about fund summary evaluation"
                "contrib contrib contrib contrib comment invite";
        justify-items: start;
    }

    .project-nav.nav-tabs.aap-nav-tabs .show-hide-filter {
        grid-area: button;
    }

    .project-nav.nav-tabs.aap-nav-tabs .kanban-tab {
        grid-area: kanban;
    }

    .project-nav.nav-tabs.aap-nav-tabs .plan-tab {
        grid-area: plan;
    }

    .nav-tabs.aap-nav-tabs .about-elem-tab {
        grid-area: about;
    }

    .project-nav.nav-tabs.aap-nav-tabs .fund-tab {
        grid-area: fund;
    }

    .project-nav.nav-tabs.aap-nav-tabs .summary-tab {
        grid-area: summary;
    }

    .project-nav.nav-tabs.aap-nav-tabs .evaluation-tab {
        grid-area: evaluation;
    }

    .project-nav.nav-tabs.aap-nav-tabs .contributor-project-filter {
        grid-area: contrib;
    }

    .project-nav.nav-tabs.aap-nav-tabs .comment-tab {
        grid-area: comment;
    }

    .project-nav.nav-tabs.aap-nav-tabs .invite-tab {
        grid-area: invite;
    }

    .contributor-project-filter {
        clear: both;
        grid-area: contrib;
    }
}

@media screen and (min-width: 1200px) {
    .project-nav.nav-tabs.aap-nav-tabs {
        border-bottom: 2px dashed #ddd;
        display: grid;
        grid-template-columns: repeat(7, auto) 1fr auto;
        grid-template-areas: "button kanban plan about fund summary evaluation contrib comment invite";
        width: 100%;
    }

    .nav-tabs.aap-nav-tabs .show-hide-filter {
        grid-area: button;
    }

    .nav-tabs.aap-nav-tabs .kanban-tab {
        grid-area: kanban;
    }

    .nav-tabs.aap-nav-tabs .plan-tab {
        grid-area: plan;
    }

    .nav-tabs.aap-nav-tabs .about-elem-tab {
        grid-area: about;
    }

    .nav-tabs.aap-nav-tabs .fund-tab {
        grid-area: fund;
    }

    .nav-tabs.aap-nav-tabs .summary-tab {
        grid-area: summary;
    }

    .nav-tabs.aap-nav-tabs .evaluation-tab {
        grid-area: evaluation;
    }

    .nav-tabs.aap-nav-tabs .contributor-project-filter {
        grid-area: contrib;
    }

    .nav-tabs.aap-nav-tabs .comment-tab {
        grid-area: comment;
    }

    .nav-tabs.aap-nav-tabs .invite-tab {
        grid-area: invite;
    }

    .contributor-project-filter {
        clear: both;
        grid-area: contrib;
    }
}
