:root {
    /* --aap-primary-color: #9BC125; */
    --red-color: #E50000;
    --red-background: #F7B9B9;
}

.zone-column {
    flex: 1;
}

.proposition-container {
    padding: 15px;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    background-color: white;
}

#dropdown_search {
    width: 100%;
    min-height: 1px !important;
    display: block !important;
    flex-wrap: nowrap !important;
    align-items: normal !important;
    margin: 0 !important;
    height: max-content !important;
}

#dropdown_search .proposition-container-compact {
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
    position: relative;
}

#dropdown_search .proposition-container-compact:nth-child(even) {
    float: right;
}

#dropdown_search .proposition-container-compact:nth-child(odd) {
    float: left;
    clear: both;
}

.proposition-name {
    text-transform: none;
    font-size: 19px;
    margin-top: 0;
}

.proposition-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.proposition-image-container {
    border-radius: 8px;
    overflow: hidden;
    width: 170px;
    height: auto;
    max-height: 225px;
    position: relative;
    background-color: #bfbfbf;
}

.proposition-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proposition-info-container {
    flex: 1;
    overflow: hidden;
}

.proposition-actions-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.parent-link,
.parent-link:hover {
    color: var(--aap-primary-color);
    cursor: pointer;
}

.depositor-image {
    display: inline-block;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
}

.depositor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.deposition-date {
    margin-left: 28px;
}

.alert-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.contributors {
    width: 150px;
    text-align: center;
}

.contributor-images {
    position: relative;
    width: 100%;
    height: 64px;
}

.contributor-images .contributor-image {
    position: absolute;
    top: 0;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
}

.contributor-images .contributor-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.more-contributor-image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 8px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}

.proposition-alert {
    color: var(--red-color);
    background-color: var(--red-background);
    padding: 2px 8px;
    border-radius: 8px;
}

#mapOfResultsAnswL {
    width: 50vw !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 999 !important;
    position: absolute !important;
    height: calc(100vh - 81px) !important;
}
html,body{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

@media (max-width: 767px){
    #mapOfResultsAnswL {
        width: 100vw !important;
    }
}

.mapOfResults {
    position: sticky;
    top: 60px;
}

.collapse-toggle .caret {
    transition: transform 0.3s;
}

.collapse-toggle.collapsed .caret {
    transform: rotate(-180deg);
}

.proposition-container .proposition-collapse-container .caret {
    display: inline-block;
    width: 0;
    height: 0px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 4px solid \9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}
.project-container .proposition-container .dropdown-project-right{
    position: absolute;
    top: 7px;
    right: 6px;
    z-index: 2;
}

@media screen and (max-width: 1024px) {
    .proposition-container-compact .proposition-container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
    }

    .proposition-container-compact .proposition-image-container {
        grid-column: span 2;
        grid-row: 1;
        width: 100%;
    }

    .proposition-container-compact .proposition-info-container, .proposition-container-compact .proposition-actions-container {
        grid-row: 2;
    }

    .proposition-container-compact .proposition-info-container {
        grid-column: 1;
    }

    .proposition-container-compact .proposition-actions-container {
        grid-column: 2;
    }
}

@media screen and (max-width: 768px) {
    #dropdown_search .proposition-container-compact {
        width: calc(100% - 20px);
        display: block;
        vertical-align: top;
        margin: 0 10px;
    }

    .proposition-detailed {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 4fr;
    }

    .proposition-detailed .proposition-image-container {
        grid-column: span 2;
        grid-row: 1;
        width: 100%;
    }

    .proposition-detailed .proposition-info-container {
        grid-column: span 2;
        grid-row: 2;
    }

    .proposition-detailed .proposition-actions-container {
        grid-column: span 2;
        grid-row: 3;
    }

    .proposition-detailed .proposition-collapse-container {
        grid-column: span 2;
        grid-row: 4;
    }

    .proposition-detailed .alert-actions {
        position: absolute;
        top: 30px;
        right: 30px;
    }
}
@media screen and (max-width: 425px) {
    .proposition-container.proposition-detailed {
        position: relative;
        display: grid;
        width: calc(100% - 20px);
        margin: 0 10px 20px;
    }

    .proposition-detailed .proposition-image-container {
        width: 100%;
        min-height: 60px;
    }

    .proposition-detailed .alert-actions {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .proposition-detailed .contributors {
        align-self: flex-start;
    }
}



@media screen and (min-width: 1600px) {
    #dropdown_search.project-container {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 10px;
    }

    #dropdown_search.project-container .proposition-container-compact {
        width: 100%;
        display: block;
    }

    .proposition-container-compact .proposition-image-container {
        width: 100px;
    }
}