.tag-list li a {
    font-size: 12px;
    background-color: white;
    padding: 5px 12px;
    color: #333;
    border-radius: 2px;
    border: 1px solid #0566a1;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}

.tag-list li a .icon-before {
    color: #0566a1;
}

ul.tag-list li {
    list-style: none;
}

.tag-list li {
    float: left;
}

.desc-network {
    border-bottom: 1px dotted #4caf50;
    padding: 10px 0;
}

.desc-network:hover {
    background-color: #f8f8f8;
}

.font-size-20 {
    font-size: 20px;
}

#central-container .badge {
    border-radius: 5px;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    background: #1d3b58;
    top: 0;
    bottom: 0;
    left: 0;
}

.gradient-fill:before {
    background: #1d3b58;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

#pod-infoGeneral .card-body,
#pod-badges .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    box-shadow: 6px 6px 5px -5px rgb(63, 78, 88), 0px 0px 0px 0px rgb(63, 78, 88);
}

@media (max-width: 767px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 7px 10px 7px 15px;
    }
    .media {
        margin-top: 5px;
    }
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.text-nv-3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700!important;
}

.profil-title-informations .text-nv-3,
.tl-network {
    color: #1d3b58;
}

.pod-info-Description .text-nv-3 {
    color: #3f4e58;
}

.media>.media-icons-left {
    display: flex;
    flex-direction: column;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
}

.card-title {
    margin-bottom: 12px;
}

.ttr-4 {
    font-size: 14px;
    font-weight: 500;
    color: #1d3b58;
}

.line-hr {
    margin-top: 10px;
    border-top: 1px solid;
}

#pod-infoGeneral .line-hr,
.hr-net {
    color: #1d3b58;
}

#pod-info-Description .line-hr {
    color: #3f4e58;
}

#pod-badges .line-hr {
    color: #2BB0C6;
}

#pod-badges .text-nv-3 {
    color: #2BB0C6;
}

#pod-badges .card.features:before {
    background-color: #2BB0C6;
}

.bg-orange {
    background-color: #ff9800;
}

.text-orange {
    color: #ff9800;
}

.bg-dark-green {
    background-color: #4caf50;
}

.text-dark-green {
    color: #4caf50;
}

.bg-dark-blue {
    background-color: #3f4e58;
}

.text-dark-blue {
    color: #3f4e58;
}

.btn-update-dark-green {
    color: #4caf50;
    background-color: #fff;
    border-color: #4caf50;
}

.btn-update-dark-green:hover {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
}

.pad-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.btn-update-descriptions,
.btn-update-geopos {
    color: #fff;
    background-color: #3f4e58;
    border-color: #3f4e58;
}

.btn-update-descriptions:hover,
.btn-update-geopos:hover {
    color: #3f4e58;
    background-color: #fff;
    border-color: #3f4e58;
}

.btn-update-ig {
    color: #0566a1;
    background-color: #fff;
    border-color: #0566a1;
}

.btn-update-ig:hover {
    color: #fff;
    background-color: #0566a1;
    border-color: #0566a1;
}

.btn-configure-badge {
    color: #2BB0C6;
    background-color: #fff;
    border-color: #2BB0C6;
}

.btn-configure-badge:hover {
    color: #fff;
    background-color: #2BB0C6;
    border-color: #2BB0C6;
}

.cobtn {
    color: #fff;
    background-color: #9fbd38;
    border-color: #9fbd38;
}

.cobtn:hover {
    color: #9fbd38;
    background-color: #fff;
    border-color: #9fbd38;
}

.btn-update-dark-blue {
    color: #3f4e58;
    background-color: #fff;
    border-color: #3f4e58;
}

.btn-update-dark-blue:hover {
    color: #fff;
    background-color: #3f4e58;
    border-color: #fff;
}

.ti-2x {
    font-size: 28.8px;
}

.mr-3,
.mx-3 {
    margin-right: 16px!important;
    width: 25px;
}

.git-color {
    background-color: #444;
}

.fb-color {
    background-color: #3b5998;
}

.linkedin-color {
    background-color: #007bb6;
}

.twitter-color {
    background-color: #55acee;
}

.instagram-color {
    background-color: #c94d82;
}

.history-tl-container ul.tl {
    margin: 10px 0;
    padding: 0;
}

.history-tl-container ul.tl li {
    list-style: none;
    margin-left: 45px;
    border-left: 2px dashed #3f4e58;
    padding: 0 0 10px 20px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -14px;
    top: 0;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #3f4e58;
    height: 25px;
    width: 25px;
    transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
    border-color: #3f4e58;
    transition: all 1000ms ease-in-out;
}

ul.tl li .item-title {
    font-size: 14px;
    font-weight: 500;
    color: #3f4e58;
}

ul.tl li .item-detail {
    margin-left: 20px;
    font-size: 15px;
    color: black;
}

.well-DayHours {
    background-color: #fff;
    border: 1px solid #3f4e58!important;
    box-shadow: 0 2px 5px 0 rgb(63, 78, 88), 0 2px 10px 0 rgb(63, 78, 88);
}

.panel-SocialNetwork {
    margin-top: 5px;
    border: 1px solid #4caf50;
    border-radius: 2px!important;
}

#descriptionAbout .container {
    display: none;
}

.morelink {
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
    color: #1d3b58;
    cursor: pointer;
}

.overflow-net {
    width: 100%;
    overflow: scroll;
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#contenuDesc img {
    max-width: 100%;
}


/*******************XS-menu About ****************/

.about-avatar {
    width: 46%;
    margin-left: auto;
    margin-right: auto;
}

.about-avatar .fileupload-preview.thumbnail,
.about-avatar .fileupload-new.thumbnail {
    /*border: 5px solid rgba(202, 226, 127, 0.5)!important;*/
    border: 3px solid #1d3b58!important;
}

.about-avatar #fileuploadContainer {
    position: relative;
    background-color: transparent;
    width: 100%;
    border-radius: 10%;
    box-shadow: none;
}

.about-avatar .fileupload,
.about-avatar .fileupload-preview.thumbnail,
.about-avatar .fileupload-new .thumbnail,
.about-avatar .fileupload-new .thumbnail img,
.about-avatar .fileupload-preview.thumbnail img {
    border-radius: 10%;
    text-align: right;
}

.about-avatar #fileuploadContainer {
    z-index: 9!important;
}

.net-well {
    min-height: 100px;
    border: 2px solid #1d3b58;
    top: -35px;
    margin: 0px;
    border-radius: 10px;
    padding-top: 30px!important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.net-well .btn-net {
    border-radius: 18%;
    width: 32px;
    height: 32px;
    line-height: 18px;
    color: #fff;
    font-size: 16px;
    padding-left: 7px;
    padding-right: 7px;
}

.net-well .bottom-social-net {
    margin-top: 28px;
    text-align: center;
}

.about-avatar .user-image .user-image-buttons {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0px!important;
    top: auto;
}

.about-avatar .user-image .user-image-buttons a.fileupload-new {
    border-bottom-left-radius: 40%;
    border: 2px solid #1d3b58;
    background-color: #fff;
    color: #1d3b58;
    border-top-right-radius: 75%;
    width: 40px;
    height: 35px;
}

.about-avatar .user-image .user-image-buttons a.fileupload-new:hover,
.about-avatar .user-image .user-image-buttons a.fileupload-new:active,
.about-avatar .user-image .user-image-buttons a.fileupload-new:focus {
    background-color: #1d3b58;
    color: #fff;
}

.about-avatar .fileupload-new,
.about-avatar .fileupload-preview {
    font-size: 13px;
}

.about-avatar .fileupload-new i {
    line-height: 25px;
}

.about-xs-completed .containInvitation {
    border-bottom: 1px solid lightgray;
    margin: 0px;
    text-align: center;
}

.about-xs-completed .containInvitation a.lbh {
    color: #1d3b58;
}

@media (max-width: 767px) {
    .central-section .about-section1,
    .central-section .about-section2 {
        padding: 0px !important;
    }
    .contentInformation .tag-list .tag i {
        display: none;
    }
    .tag-list .tag a {
        font-size: 12px;
        background-color: white;
        padding: 2px 4px;
        color: #3f4e58;
        border: 2px solid #1d3b58;
        margin-right: 5px;
        margin-top: 5px;
        display: block;
        border-radius: 10px;
    }
}

.section-Community .panel-group .panel .panel-heading h4 a {
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #3f4e58;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.section-Community .panel-group .panel .panel-heading h4 a:hover,
.panel-group .panel .panel-heading h4 a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
}

.section-Community .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "\f077";
}

.section-Community .panel-group .panel .panel-heading h4 a i {
    color: #1d3b58;
}

.section-Community .panel-group .panel .panel-body {
    padding: 15px 0px;
    text-align: center;
}

.section-Community .panel-group .panel .panel-heading+.panel-collapse>.list-group,
.section-Community .panel-group .panel .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.section-Community .panel-group .panel+.panel {
    border-top: none;
    margin-top: 0;
}

.section-Community .collapse {
    border-top: 1px solid #1d3b58;
}

.section-Community .panel-group {
    margin-bottom: 0px;
}

.section-Community {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.section-Community .number-Community {
    font-size: 22px;
    font-weight: 700;
    color: #1d3b58;
}

.section-Community .label-Community {
    font-size: 13px;
    font-weight: 700;
    color: #3f4e58;
}

#pod-info-Address {
    box-shadow: 0 2px 5px 0 rgb(63, 78, 88), 0 2px 10px 0 rgb(63, 78, 88);
}

.badge-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.badge-list .badge-item {
    max-width: 150px;
    margin: 30px;
    position: relative;
}

.badge-list .badge-item img {
    cursor: pointer;
}

.badge-list .badge-item .btn-endorse {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease-out;
}

.badge-list .badge-item:hover .btn-endorse {
    position: absolute;
    opacity: 1;
    top: 40%;
}

.badge-list .badge:before,
.badge-list .badge:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.badge-list .badge-item h5 {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.badge-list .confirmation img,
.badge-list .revoked img {
    filter: invert(0.1) grayscale(1);
    border-radius: 50%;
}

.badge-list .revoked::after {
    content: "REVOKED";
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid red;
}

.btn-confirmations {
    display: none;
}

.confirmation .btn-confirmations {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 65px;
    transform: translate(-50%, -50%);
    transition: all .3s ease-out;
}

.confirmation:hover .btn-confirmations {
    top: 30% !important;
}

.btn-confirmations button {
    height: 25px;
    width: 25px;
    padding: 1px;
    border-radius: 50%;
}

.btn-confirmations button i {
    font-size: 11px;
}

#mode-settings-btn {
    cursor: pointer;
}

.badge-configure-list img.badge-image {
    max-height: 50px;
    max-width: 50px;
}

.badge-configure-list .btn[data-value="true"] {
    color: white;
    background-color: #2BB0C6;
}

.badge-configure-list .row {
    border-bottom: 1px solid grey;
}