.about-section {
    background: linear-gradient(1deg, rgba(239, 239, 239, 0.4) 26%, rgb(245 255 243) 73%);
    padding: 20px 0;
}

.info {
    color: grey;
}

.header-badge {
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    min-height: 150px;
}

.about-section .section-title {
    color: #9fbd38;
    text-transform: none;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}

.about-section .section-description {
    font-weight: 300;
    font-size: 18px;
    /*line-height: 36px;*/
    margin-bottom: 10px;
    text-transform: none;
}

.about-section .custom-btn-nav {
    /*background-image: -ms-linear-gradient( -159deg, rgb(131,104,255) 0%, rgb(85,78,138) 100%);*/
    background-color: #9fbd38;
    /*box-shadow: 0px 4px 20px 10px rgb(218, 233, 167);*/
    font-size: 14px;
    padding: 6px 15px;
    border: 0;
    border-radius: 37px;
    color: #fff;
    border: 1px solid #9fbd38;
    margin: 2px 5px;
}

.about-section .custom-btn-nav:hover {
    background-color: #ffffff;
    color: #9fbd38;
}

.about-section .about-text i:not(.about-section .about-text .custom-btn-nav i) {
    color: #9fbd38;
}

.about-section .about-text .label-preferences {
    position: relative;
}

.about-section .about-text .label-preferences:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(130deg, #9fbd38, #2c3e50 41.07%, #9fbd38 76.05%);
}

.about-section .about-text p {
    line-height: 30px;
    color: #343333;
    font-weight: 500;
    font-size: 14px;
}

.about-section .about_img-inner {
    margin: 0px 45px;
}

.about-section .about_img-inner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 27px;
    opacity: 0.8;
    transform: rotate(9deg);
    transform: rotate(-7deg);
    box-shadow: 4px 6px 18px #ccc;
    border-radius: 54px;
    background-color: hsla(0, 0%, 80%, 0.5098039215686274);
}

.about-section .about_img-inner img {
    z-index: 99;
    position: relative;
    box-shadow: 4px 6px 5px #ccc;
    border-radius: 54px;
    margin: 0 auto;
    max-width: 96%;
    display: block;
    background-color: white;
}

.about-section .about_img-inner:after {
    content: '';
    position: absolute;
    left: 18px;
    right: 0;
    top: 15px;
    bottom: 0;
    transform: rotate(-10deg);
    box-shadow: 5px 6px 7px #ccc;
    border-radius: 54px;
    background-color: rgba(204, 204, 204, 0.5686274509803921);
}

.about-section .about_img-inner {
    position: relative;
    box-shadow: 4px 6px 15px #ccccccd1;
    border-radius: 54px;
    background: rgba(204, 204, 204, 0.4196078431372549);
}

.markdown .morecontent {
    display: none;
}

a.morelink {
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
    color: #18BC9C;
    cursor: pointer;
}

a.morelink:hover {
    color: #18BC9C;
}

a[data-view="confirm"] .indicateur {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e6344d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

a[data-view="confirm"] {
    position: relative;
    display: inline-block;
}

a[data-view="attente"] .indicateur {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #e6344d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

a[data-view="attente"] {
    position: relative;
    display: inline-block;
}

.detailBadge {
    box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.detailBadge img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: transparent;
    object-fit: cover;
    object-position: center;
}

.detailBadge .openDetails {
    color: white;
    font-size: 12px;
    background: #2c3e50;
    border-color: #2c3e50;
}

.detailBadge .detail-box {
    margin-left: 20px;
}

.detailBadge .detail-box button {
    min-width: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.detailBadge .detail-box a:hover {
    text-decoration: none
}

.detailBadge .detail-box h4 {
    font-size: 20px;
    text-transform: none;
    line-height: 32px;
    color: #2C3E50;
    padding-top: 10px;
    margin-bottom: 5px;
}

.detailBadge .detail-box .entityLocality {
    margin-bottom: 5px;
    min-height: 20px;
}

.detailBadge .detail-box p {
    margin-bottom: 14px;
    font-size: 13px;
    /* min-height : 100px; */
    line-height: 20px;
    text-align: justify;
    margin-right: 10px;
}

.detailBadge .detail-box h6 {
    font-size: 14px;
    line-height: 18px;
}

.detailBadge .detail-box h6 span button {
    margin-right: 5px;
    font-weight: 700;
}

.detailBadge .detail-box h6 span {
    /* position: absolute;
    bottom : 0; */
    margin-right: 10px;
    margin-bottom: 5px;
}

.content-img {
    padding: 18px;
}

.div-img {
    background: #ccc;
    height: 100px;
    padding: 20px;
    border-radius: 50%;
    width: 100px;
}

.detailBadge .discount-holder {
    color: #fff;
    background: #93C020;
    right: -5px;
    font-weight: 700;
    position: relative;
    border-radius: 0 5px 0 0;
    float: right;
    font-size: 10px;
}

.detailBadge .discount-holder.danger {
    background: #d9534f!important;
}
.detailBadge .discount-holder.danger span:before {
    border-top: 17px solid #d9534f!important;
}
.detailBadge .discount-holder.danger span:after {
    border-bottom: 17px solid #d9534f!important;
}

.detailBadge .discount-holder.danger:after {
    background: #d9534f!important;
}

.detailBadge .discount-holder.warning {
    background: #ffa801!important;
}
.detailBadge .discount-holder.warning span:before {
    border-top: 17px solid #ffa801!important;
}
.detailBadge .discount-holder.warning span:after {
    border-bottom: 17px solid #ffa801!important;
}

.detailBadge .discount-holder.warning:after {
    background: #ffa801!important;
}

.detailBadge .discount-holder span {
    display: block;
    position: relative;
    padding: 2px 12px 2px 8px;
}

.detailBadge .discount-holder span:before {
    width: 0;
    height: 0;
    border-top: 17px solid #93C020;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    left: -15px;
    content: '';
}

.detailBadge .discount-holder span:after {
    width: 0;
    height: 0;
    border-bottom: 17px solid #93C020;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: 0;
    left: -15px;
    content: '';
}

.detailBadge .discount-holder:after {
    background: #93C020;
    border-bottom-right-radius: 4px;
    bottom: -6px;
    content: "";
    height: 6px;
    right: 0;
    position: absolute;
    width: 5px;
}

.detailBadge.mt-20 {
    margin-top: 20px;
}

.detailBadgeCard .card-img-top {
    min-height: 140px;
}

.detailBadgeCard .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 15px;
}

.badgeSearchContainer .entityCenter i.fa {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px 0 21px 0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.badgeSearchContainer .div-img i.fa {
    border-radius: 5px 0 21px 0;
    font-size: 4em;
}

@media screen and (min-width: 977px) and (max-width: 1080px) {
    .detailBadge img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1300px) {
    .detailBadge img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 767px) {
    .about-text {
        text-align: center;
    }
}

#menuCommunity.badgeCommunity {
    padding: 20px;
    text-align: center;
}

hr#badge-separator {
    margin: 0;
}

.container-badge {
    padding-left: 55px;
    padding-right: 30px;
}
@media(max-width : 767px){
    .container-badge{
        padding-left : 0px;
        padding-right : 0px;
    }
}

.page_title {
    padding: 30px 0px;
}

.single_menu {
    position: relative;
    /*margin-bottom: 75px;*/
    transition: .3s;
    border-bottom: 2px solid #2c3e50;
}


/* .single_menu:hover img{
     -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
     clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

 }*/

.single_menu .img-div {
    float: left;
    width: 33%;
}


/*.single_menu img {
    position: absolute;
    height: 280px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}*/

.menu_content {
    width: 65%;
    float: right;
}

.menu_content h4 {
    font-size: 25px;
    border-bottom: 2px dashed #93C020;
    line-height: 2;
    text-transform: uppercase;
    color: #9fbd38;
}

.menu_content h4>span {
    float: right;
}

.menu_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
}

.pulse-btn {
    text-align: center;
    padding: 30px 0;
}

.pulse-btn .btn {
    font-size: 22px;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    animation: pulse 1.5s cubic-bezier(0.66, 0.67, 0.83, 0.99) infinite;
}

@media (max-width: 767px) {
    .pulse-btn .btn {
        font-size: 16px;
        letter-spacing: normal;
        padding: 10px 15px;
    }
}

@keyframes pulse {
    0% {
        outline: 1px solid #93C020;
        outline-offset: 0px;
    }
    30% {
        outline: 1px solid rgba(147, 192, 32, 0.7);
        outline-offset: 10px;
    }
    60% {
        outline: 1px solid rgba(48, 113, 169, 0);
        outline-offset: 20px;
    }
    100% {
        outline: 1px solid rgba(48, 113, 169, 0);
        outline-offset: 60px;
    }
}

@media (max-width: 767px) {
    .single_menu .img-div {
        width: 90%;
        text-align: center;
        margin: 10px 5%;
    }
    .menu_content {
        width: 100%;
        float: right;
    }
    #filterContainer .menu-filters-xs {
        min-height: fit-content!important;
    }
    #filterContainer .dropdown .dropdown-menu:before, .searchObjCSS .dropdown .dropdown-menu:before,
    #filterContainer .dropdown .dropdown-menu:after, .searchObjCSS .dropdown .dropdown-menu:after {
        display: none;
    }
    #filterContainer .dropdown .dropdown-menu, .searchObjCSS .dropdown .dropdown-menu {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
    }
}


/* carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}


/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}


/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}


/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}


/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}


/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}


/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/**
  MEDIA QUERIES
*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}


/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 991px) {
    .div-img {
        height: 50px;
        padding: 10px;
        width: 50px;
    }
    .badgeSearchContainer .div-img i.fa {
        font-size: 2em;
    }
    .content-img {
        padding: 20px 10px;
    }
    .detailBadge .detail-box h4 {
        font-size: 16px;
    }
    .detailBadge img {
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}
.edit-endorse{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    background: #9fbd38;
    border-radius: 50%;
    color: white;
}
.edit-endorses{
    position: absolute;
    right: 0;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    background: #9fbd38;
    border-radius: 50%;
    color: white;
}
