*,
::after,
::before {
    box-sizing: border-box;
}
html {
    -moz-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body,
input,
select,
textarea,
button,
#admin .redactor-styles {
    font-family: 'Inter', system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji;
}
hr {
    height: 0;
    color: inherit;
}
abbr[title] {
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
pre,
samp {
    font-family: ui-monospace, SFMono-Regular, Consolas, liberation mono, Menlo, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
table {
    text-indent: 0;
    border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
select {
    text-transform: none;
}
[type='button'],
[type='reset'],
[type='submit'],
button {
    -webkit-appearance: button;
}
::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
:-moz-focusring {
    outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
    box-shadow: none;
}
legend {
    padding: 0;
}
progress {
    vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
summary {
    display: list-item;
}
ul {
    padding: 0.1em 0;
    list-style: none;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: #f4f6f9;
    font-family: 'Inter', system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji,
        segoe ui emoji;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
    padding: 8px;
    border-radius: 6px;
}

.button {
    background: #4df704;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    
}


.tree-branch .branch-editor {
    display: none;
}

.tree-branch {
    margin-bottom: 0;
    position: relative;
    user-select: none;
    max-height: 58px;
}

.tree-branch > .contents .branch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    min-height: 20px;
    max-width: 450px;
    width: 100%;
    position: relative;
    padding: 10px 15px;
    height: auto;
    gap: 12px;

    line-height: 2.3076923;
    overflow: hidden;
    word-wrap: break-word;
}

.tree-branch > .contents .branch-wrapper .left-sidebar {
    display: flex;
    gap: 2px;
    align-items: center;
}

.right-sidebar {
    transition: 0.3s;
    text-align: center;
    width: 12%;
}

.branch-wrapper:hover .right-sidebar {
    opacity: 1;
}

.tree-branch > .contents .branch-wrapper .left-sidebar {
    cursor: pointer;
}

.tree-branch > .contents {
    clear: both;
    line-height: 1.5;
    position: relative;
    margin: 10px 0 0;
}

.contents .branch-drag-handler {
    cursor: move;
}

.branch-drag-handler .icon {
    color: #504e4e;
    margin-right: 5px;
}

.sortable-placeholder {
    border: 1px dashed rgb(63, 63, 63);
    height: 35px;
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
}

.tree-branch.ui-sortable-helper .contents {
    margin-top: 0;
}

.tree-branch.ui-sortable-helper .children-bus .contents {
    margin-top: 10px;
}

.tree-branch .children-bus:empty {
    display: none;
}

.tree-branch {
    margin-left: var(--tree-sortable-branch-left-shift);
}
.children-bus {
    margin-left: var(--tree-sortable-children-left-shift);
}

.ui-sortable-placeholder {
    margin-left: var(--tree-sortable-branch-left-shift);
}

.branch-path {
    display: block;
    position: absolute;
    width: var(--tree-sortable-depth);
    min-height: 72px;
    bottom: 50%;
    left: -12px;
    border: 2px solid #565656;
    border-top: 0;
    border-right: 0;
    padding: 4px 0 0;
    padding-top: 3px;
    border-bottom-left-radius: 6px;
    z-index: -1;
}
