:root{
    --bg-primary:255, 255, 255;
    --white:#fff;
    --gray50:#f7fafc;
    --gray100:#e3e8ee;
    --gray200:#c1c9d2;
    --gray300:#a3acb9;
    --gray500:#697386;
    --gray600:#4f566b;
    --gray700:#3c4257;
    --gray800:#2a2f45;
    --gray900:#1a1f36;
}

.theme-dark{
    --bg-primary:13, 17, 23;
    --gray500:#a3acb9;
    --gray800:#f7fafc;
}

*{
    padding: 0;
    margin: 0;
}


.codoc-container{
    display: flex;
    background-color: rgb(var(--bg-primary));
    height: calc(100vh - 55px);
    overflow: hidden;
}

header{
    padding: 0px !important;
}

footer{
    display: none !important;
}

#mainNav{
    box-shadow: none !important;
}

#menuLeft{
    display: none !important;
}

nav{
    width: 350px;
    box-shadow: -1px 0 0 0 var(--gray100) inset;
}

.nav-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 30px;
}

.logo span{
    font-weight: bold;
    font-size: 28px;
    transform: translateY(5px);
    color: var(--gray800);
}

.page-content{
    width: 100%;
    height: 100vh;
}

header{
    padding: 20px 0px;
    display: flex;
    justify-content: flex-end;
}

header ul li{
    list-style: none;
}

header ul li a{
    font-weight: bold;
}

header ul li a:hover{
    text-decoration: none;
}

.sub-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-breadcrumb span:not(:last-child){
    color: var(--gray500);
}

.custom-breadcrumb span:last-child{
    font-weight: bold;
    color: var(--gray900);
}

.custom-breadcrumb span:not(:last-child)::after{
    content: " / ";
    color: var(--gray500);
}

.nav-body{
  max-height: calc(100% - 95px);
  overflow: auto;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav-header{
    background-color: #9fbd38;
    padding: 5px 20px;
    color: white;
}

.nav-header a{
    text-decoration: none;
    text-transform: none;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.nav-header a span:nth-child(2){
    font-family: fantasy;
    padding-left: 5px;
}

.menu-group:not(.nav-body > .menu-group){
    display: none;
}

.menu-group.active{
    display: block !important;
}

.menu-group-label{
    display: block;
    cursor: pointer;
    padding: 4px 0px;
    border-bottom: 1px solid #d4d4d4;
    font-weight: bold;
    color: var(--gray800);
    font-size: 16px;
}

nav li{
    list-style: none;
    margin-left: 20px;
}

nav .menu-item a{
    display: block;
    text-decoration: none;
    padding: 4px 0px;
    color: var(--gray500);
}

nav .menu-item a:hover{
    text-decoration: none;
}

.menu-group-label span i{
    transition: .3s;
}

.menu-group-label.active span i{
    transform: rotate(180deg);
}


/* width */
.nav-body::-webkit-scrollbar, .page-content::-webkit-scrollbar{
    width: 8px;
}

/* Track */
.nav-body::-webkit-scrollbar-track, .page-content::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle on hover */
.nav-body:hover::-webkit-scrollbar-thumb, .page-content:hover::-webkit-scrollbar-thumb {
    background: var(--gray200);
    border-radius: 8px;
}

.doc-container{
    padding-top: 20px;
}

.page-content{
    height: 100%;
    overflow-y: auto;
    padding: 50px 10%;
}

.doc-container{
    height: 100%;
}

#md-viewer{
    padding-bottom: 50px;
}

.toastui-editor-dark .toastui-editor-md-container, .toastui-editor-dark .toastui-editor-ww-container{
    background-color: rgb(var(--bg-primary)) !important;
}

.actions-container button{
    border: 2px solid var(--gray500);
    background-color: rgb(var(--bg-primary));
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color:var(--gray800);
    cursor: pointer;
    transition:.5s;
}

.actions-container button:hover{
    background-color: var(--gray500);
    color: rgb(var(--bg-primary));
}

button:focus {
    outline:0;
}

.loader-container{
    width: 100%;
    height: calc(100vh - 55px);
    position: absolute;
    background-color: rgba(var(--bg-primary), .8);
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.loader-container.active{
    visibility: visible;
    opacity: 1;
}

.loader-container p{
    margin-top: 20px;
    font-size: 18px;
    color: var(--gray500);
}

.d-none{
    display: none !important;
}