.theme-switcher {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0;
}

.theme-switcher input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-switcher span{
    position: absolute;
    transition: .3s;
}

.theme-switcher .switch{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    background-color: #e3e8ee;
}

.theme-switcher .switch::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 0px;
    transition: .4s;
    left: 0;
    background-color: #ecc43d;
}

.switch-icon-light{
    left: 2px;
    top:-1px;
    opacity: 1;
    transform: rotate(0deg);
    font-size: 16px;
    color: white;
}
.switch-icon-dark{
    right: 2px;
    top:-2px;
    opacity: 0;
    transform: rotate(-90deg);
    font-size: 16px;
    color: white;
}

.theme-switcher input:checked + .switch::before{
    left: 20px;
    background-color: black;
}

.theme-switcher input:checked + .switch{
    background-color: rgb(65, 65, 65);
}

.theme-switcher input:checked ~ .switch-icon-dark{
    opacity: 1;
    transform: rotate(0deg);
    color: white;
}

.theme-switcher input:checked ~ .switch-icon-light{
    opacity: 0;
    transform: rotate(-90deg);
}

.theme-transision{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    background-color: purple;
    border-radius: 100%;
    z-index: -10;
    visibility: hidden;
}

.theme-transision.active{
    animation-name: themeTransition;
    animation-duration: 1.5s;
    animation-timing-function:ease-out;
    animation-fill-mode: both;
}

@keyframes themeTransition {
    0% {
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        visibility: visible;
    }
    100% {
        bottom: -2000px;
        right: -2000px;
        width: 5000px;
        height: 5000px;
    }
}